In [29]:
# import Denpendencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

## Extraction Phase

#### The raw data is obtained from home credit default risk. Its source link is available in reference. This data has six tables which are cleaned step by step.

## Transformation Phase

### Raw Data Importing for cleaning

In [2]:
# Dictionary to hold file names and their paths
file_paths = {
    'application_train': '../Resources/application_train.csv',
    'bureau': '../Resources/bureau.csv',
    'bureau_balance': '../Resources/bureau_balance.csv',
    'credit_card_balance': '../Resources/credit_card_balance.csv',
    'POS_CASH_balance': '../Resources/POS_CASH_balance.csv',
    'previous_application': '../Resources/previous_application.csv',
    'installments_payments': '../Resources/installments_payments.csv'
}

# Dictionary to hold the loaded data
data_frames = {}

# Loop through the file_paths dictionary to load each file
for file_name, relative_path in file_paths.items():
    # Construct the absolute path
    file_path = os.path.abspath(relative_path)
    
    # Attempt to load the CSV file into a DataFrame
    try:
        data_frames[file_name] = pd.read_csv(file_path)
        print(f"{file_name} data loaded successfully!")
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
    except Exception as e:
        print(f"An error occurred while loading {file_name}: {e}")

application_train data loaded successfully!
bureau data loaded successfully!
bureau_balance data loaded successfully!
credit_card_balance data loaded successfully!
POS_CASH_balance data loaded successfully!
previous_application data loaded successfully!
installments_payments data loaded successfully!

In [3]:
# view application_train data
application_train_df = data_frames['application_train']
application_train_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [4]:
# check the the duplicate values of SK_ID_CURR; since we will be keeping SK_ID_CURR unique
application_train_df = application_train_df.drop_duplicates(subset='SK_ID_CURR')

In [7]:
# data set after dropping duplicates
print(application_train_df.shape)

(307511, 122)

In [19]:
# Separate SK_ID_CURR along with numerical columns
numerical_and_id = application_train_df.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_CURR'] = application_train_df['SK_ID_CURR']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = application_train_df.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_CURR'] = application_train_df['SK_ID_CURR']

In [20]:
# Print the selected numerical data
print("SK_ID_CURR along with Numerical Columns:")
print(numerical_and_id)

SK_ID_CURR along with Numerical Columns:
        SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0           100002       1             0          202500.0    406597.5
1           100003       0             0          270000.0   1293502.5
2           100004       0             0           67500.0    135000.0
3           100006       0             0          135000.0    312682.5
4           100007       0             0          121500.0    513000.0
...            ...     ...           ...               ...         ...
307506      456251       0             0          157500.0    254700.0
307507      456252       0             0           72000.0    269550.0
307508      456253       0             0          153000.0    677664.0
307509      456254       1             0          171000.0    370107.0
307510      456255       0             0          157500.0    675000.0

        AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0           24700.5         351000.0                    0.018801       -9461
1           35698.5        1129500.0                    0.003541      -16765
2            6750.0         135000.0                    0.010032      -19046
3           29686.5         297000.0                    0.008019      -19005
4           21865.5         513000.0                    0.028663      -19932
...             ...              ...                         ...         ...
307506      27558.0         225000.0                    0.032561       -9327
307507      12001.5         225000.0                    0.025164      -20775
307508      29979.0         585000.0                    0.005002      -14966
307509      20205.0         319500.0                    0.005313      -11961
307510      49117.5         675000.0                    0.046220      -16856

        DAYS_EMPLOYED  ...  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
0                -637  ...                 0                 0
1               -1188  ...                 0                 0
2                -225  ...                 0                 0
3               -3039  ...                 0                 0
4               -3038  ...                 0                 0
...               ...  ...               ...               ...
307506           -236  ...                 0                 0
307507         365243  ...                 0                 0
307508          -7921  ...                 0                 0
307509          -4786  ...                 0                 0
307510          -1262  ...                 0                 0

        FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
0                      0                 0                         0.0
1                      0                 0                         0.0
2                      0                 0                         0.0
3                      0                 0                         NaN
4                      0                 0                         0.0
...                  ...               ...                         ...
307506                 0                 0                         NaN
307507                 0                 0                         NaN
307508                 0                 0                         1.0
307509                 0                 0                         0.0
307510                 0                 0                         0.0

        AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                             0.0                         0.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         0.0
307509                        0.0                         0.0
307510                        0.0                         0.0

        AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                             0.0                        0.0
1                             0.0                        0.0
2                             0.0                        0.0
3                             NaN                        NaN
4                             0.0                        0.0
...                           ...                        ...
307506                        NaN                        NaN
307507                        NaN                        NaN
307508                        1.0                        0.0
307509                        0.0                        0.0
307510                        2.0                        0.0

        AMT_REQ_CREDIT_BUREAU_YEAR
0                              1.0
1                              0.0
2                              0.0
3                              NaN
4                              0.0
...                            ...
307506                         NaN
307507                         NaN
307508                         1.0
307509                         0.0
307510                         1.0

[307511 rows x 106 columns]

In [22]:
# print selected categorical data
print("\nSK_ID_CURR along with Categorical Columns:")
print(categorical_and_id)

SK_ID_CURR along with Categorical Columns:
       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0              Cash loans           M            N               Y
1              Cash loans           F            N               N
2         Revolving loans           M            Y               Y
3              Cash loans           F            N               Y
4              Cash loans           M            N               Y
...                   ...         ...          ...             ...
307506         Cash loans           M            N               N
307507         Cash loans           F            N               Y
307508         Cash loans           F            N               Y
307509         Cash loans           F            N               Y
307510         Cash loans           F            N               N

       NAME_TYPE_SUITE      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0        Unaccompanied               Working  Secondary / secondary special
1               Family         State servant               Higher education
2        Unaccompanied               Working  Secondary / secondary special
3        Unaccompanied               Working  Secondary / secondary special
4        Unaccompanied               Working  Secondary / secondary special
...                ...                   ...                            ...
307506   Unaccompanied               Working  Secondary / secondary special
307507   Unaccompanied             Pensioner  Secondary / secondary special
307508   Unaccompanied               Working               Higher education
307509   Unaccompanied  Commercial associate  Secondary / secondary special
307510   Unaccompanied  Commercial associate               Higher education

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE OCCUPATION_TYPE  \
0       Single / not married  House / apartment        Laborers
1                    Married  House / apartment      Core staff
2       Single / not married  House / apartment        Laborers
3             Civil marriage  House / apartment        Laborers
4       Single / not married  House / apartment      Core staff
...                      ...                ...             ...
307506             Separated       With parents     Sales staff
307507                 Widow  House / apartment             NaN
307508             Separated  House / apartment        Managers
307509               Married  House / apartment        Laborers
307510               Married  House / apartment        Laborers

       WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE FONDKAPREMONT_MODE  \
0                       WEDNESDAY  Business Entity Type 3   reg oper account
1                          MONDAY                  School   reg oper account
2                          MONDAY              Government                NaN
3                       WEDNESDAY  Business Entity Type 3                NaN
4                        THURSDAY                Religion                NaN
...                           ...                     ...                ...
307506                   THURSDAY                Services   reg oper account
307507                     MONDAY                     XNA   reg oper account
307508                   THURSDAY                  School   reg oper account
307509                  WEDNESDAY  Business Entity Type 1                NaN
307510                   THURSDAY  Business Entity Type 3                NaN

        HOUSETYPE_MODE WALLSMATERIAL_MODE EMERGENCYSTATE_MODE  SK_ID_CURR
0       block of flats       Stone, brick                  No      100002
1       block of flats              Block                  No      100003
2                  NaN                NaN                 NaN      100004
3                  NaN                NaN                 NaN      100006
4                  NaN                NaN                 NaN      100007
...                ...                ...                 ...         ...
307506  block of flats       Stone, brick                  No      456251
307507  block of flats       Stone, brick                  No      456252
307508  block of flats              Panel                  No      456253
307509  block of flats       Stone, brick                  No      456254
307510  block of flats              Panel                  No      456255

[307511 rows x 17 columns]

### Inspecting the columns for NaN values.
##### for deeper insight into columns; loop through databased selected columns.

In [23]:
# Inspect NaN values in categorical columns
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: count, dtype: int64
CODE_GENDER
F      202448
M      105059
XNA         4
Name: count, dtype: int64
FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64
FLAG_OWN_REALTY
Y    213312
N     94199
Name: count, dtype: int64
NAME_TYPE_SUITE
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
NaN                  1292
Other_A               866
Group of people       271
Name: count, dtype: int64
NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64
NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64
NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: count, dtype: int64
NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: count, dtype: int64
OCCUPATION_TYPE
NaN                      96391
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64
WEEKDAY_APPR_PROCESS_START
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: count, dtype: int64
ORGANIZATION_TYPE
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: count, dtype: int64
FONDKAPREMONT_MODE
NaN                      210295
reg oper account          73830
reg oper spec account     12080
not specified              5687
org spec account           5619
Name: count, dtype: int64
HOUSETYPE_MODE
NaN                 154297
block of flats      150503
specific housing      1499
terraced house        1212
Name: count, dtype: int64
WALLSMATERIAL_MODE
NaN             156341
Panel            66040
Stone, brick     64815
Block             9253
Wooden            5362
Mixed             2296
Monolithic        1779
Others            1625
Name: count, dtype: int64
EMERGENCYSTATE_MODE
No     159428
NaN    145755
Yes      2328
Name: count, dtype: int64

occupation type has 96391 ,FONDKAPREMONT_MODE 210295,HOUSETYPE_MODE 154297,WALLSMATERIAL_MODE 154297,EMERGENCYSTATE_MODE 145755

In [24]:
# Loop through each numerical columns
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

TARGET
0    282686
1     24825
Name: count, dtype: int64
CNT_CHILDREN
0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
8          2
9          2
12         2
10         2
19         2
11         1
Name: count, dtype: int64
AMT_INCOME_TOTAL
135000.0    35750
112500.0    31019
157500.0    26556
180000.0    24719
90000.0     22483
            ...
117324.0        1
64584.0         1
142897.5        1
109170.0        1
113062.5        1
Name: count, Length: 2548, dtype: int64
AMT_CREDIT
450000.0     9709
675000.0     8877
225000.0     8162
180000.0     7342
270000.0     7241
             ...
487318.5        1
630400.5        1
1875276.0       1
1395895.5       1
1391130.0       1
Name: count, Length: 5603, dtype: int64
AMT_ANNUITY
9000.0      6385
13500.0     5514
6750.0      2279
10125.0     2035
37800.0     1602
            ...
79902.0        1
106969.5       1
60885.0        1
59661.0        1
77809.5        1
Name: count, Length: 13673, dtype: int64
AMT_GOODS_PRICE
450000.0     26022
225000.0     25282
675000.0     24962
900000.0     15416
270000.0     11428
             ...
447606.0         1
2106000.0        1
894654.0         1
323982.0         1
743863.5         1
Name: count, Length: 1003, dtype: int64
REGION_POPULATION_RELATIVE
0.035792    16408
0.046220    13442
0.030755    12163
0.025164    11950
0.026392    11601
            ...
0.001417      467
0.001333      235
0.000533       39
0.000938       28
0.000290        2
Name: count, Length: 81, dtype: int64
DAYS_BIRTH
-13749    43
-13481    42
-18248    41
-10020    41
-15771    40
          ..
-24898     1
-24868     1
-8017      1
-25098     1
-25061     1
Name: count, Length: 17460, dtype: int64
DAYS_EMPLOYED
 365243    55374
-200         156
-224         152
-230         151
-199         151
           ...
-13961         1
-11827         1
-10176         1
-9459          1
-8694          1
Name: count, Length: 12574, dtype: int64
DAYS_REGISTRATION
-1.0        113
-7.0         98
-6.0         96
-4.0         92
-2.0         92
           ...
-15581.0      1
-15031.0      1
-14804.0      1
-15008.0      1
-14798.0      1
Name: count, Length: 15688, dtype: int64
DAYS_ID_PUBLISH
-4053    169
-4095    162
-4046    161
-4417    159
-4256    158
        ...
-5896      1
-5921      1
-5753      1
-5960      1
-6211      1
Name: count, Length: 6168, dtype: int64
OWN_CAR_AGE
NaN     202929
7.0       7424
6.0       6382
3.0       6370
8.0       5887
         ...
57.0         1
69.0         1
50.0         1
47.0         1
52.0         1
Name: count, Length: 63, dtype: int64
FLAG_MOBIL
1    307510
0         1
Name: count, dtype: int64
FLAG_EMP_PHONE
1    252125
0     55386
Name: count, dtype: int64
FLAG_WORK_PHONE
0    246203
1     61308
Name: count, dtype: int64
FLAG_CONT_MOBILE
1    306937
0       574
Name: count, dtype: int64
FLAG_PHONE
0    221080
1     86431
Name: count, dtype: int64
FLAG_EMAIL
0    290069
1     17442
Name: count, dtype: int64
CNT_FAM_MEMBERS
2.0     158357
1.0      67847
3.0      52601
4.0      24697
5.0       3478
6.0        408
7.0         81
8.0         20
9.0          6
10.0         3
NaN          2
14.0         2
12.0         2
20.0         2
16.0         2
13.0         1
15.0         1
11.0         1
Name: count, dtype: int64
REGION_RATING_CLIENT
2    226984
3     48330
1     32197
Name: count, dtype: int64
REGION_RATING_CLIENT_W_CITY
2    229484
3     43860
1     34167
Name: count, dtype: int64
HOUR_APPR_PROCESS_START
10    37722
11    37229
12    34233
13    30959
14    27682
9     27384
15    24839
16    20385
8     15127
17    14900
7      9131
18     9049
6      5842
19     3848
5      3638
4      2090
3      1230
20     1196
21      405
2       305
22      150
1        86
23       41
0        40
Name: count, dtype: int64
REG_REGION_NOT_LIVE_REGION
0    302854
1      4657
Name: count, dtype: int64
REG_REGION_NOT_WORK_REGION
0    291899
1     15612
Name: count, dtype: int64
LIVE_REGION_NOT_WORK_REGION
0    295008
1     12503
Name: count, dtype: int64
REG_CITY_NOT_LIVE_CITY
0    283472
1     24039
Name: count, dtype: int64
REG_CITY_NOT_WORK_CITY
0    236644
1     70867
Name: count, dtype: int64
LIVE_CITY_NOT_WORK_CITY
0    252296
1     55215
Name: count, dtype: int64
EXT_SOURCE_1
NaN         173378
0.581015         5
0.546426         5
0.443982         5
0.765724         5
             ...
0.658473         1
0.318295         1
0.834644         1
0.485406         1
0.734460         1
Name: count, Length: 114585, dtype: int64
EXT_SOURCE_2
0.285898    721
NaN         660
0.262258    417
0.265256    343
0.159679    322
           ...
0.004725      1
0.257313      1
0.282030      1
0.181540      1
0.267834      1
Name: count, Length: 119832, dtype: int64
EXT_SOURCE_3
NaN         60965
0.746300     1460
0.713631     1315
0.694093     1276
0.670652     1191
            ...
0.028674        1
0.025272        1
0.021492        1
0.014556        1
0.043227        1
Name: count, Length: 815, dtype: int64
APARTMENTS_AVG
NaN       156061
0.0825      6663
0.0619      6332
0.0928      4404
0.0722      3986
           ...
0.3727         1
0.1075         1
0.7165         1
0.8237         1
0.3466         1
Name: count, Length: 2340, dtype: int64
BASEMENTAREA_AVG
NaN       179943
0.0000     14745
0.0818       251
0.0545       251
0.0727       248
           ...
0.3829         1
0.8271         1
0.2766         1
0.3206         1
0.6360         1
Name: count, Length: 3781, dtype: int64
YEARS_BEGINEXPLUATATION_AVG
NaN       150007
0.9871      4311
0.9856      4189
0.9861      4171
0.9801      4123
           ...
0.8992         1
0.8276         1
0.3279         1
0.6577         1
0.8629         1
Name: count, Length: 286, dtype: int64
YEARS_BUILD_AVG
NaN       204488
0.8232      2999
0.8164      2864
0.8028      2848
0.7280      2802
           ...
0.1976         2
0.3744         2
0.0004         2
0.0276         1
0.0208         1
Name: count, Length: 150, dtype: int64
COMMONAREA_AVG
NaN       214865
0.0000      8442
0.0079       544
0.0078       475
0.0080       446
           ...
0.2299         1
0.2496         1
0.2737         1
0.3814         1
0.1620         1
Name: count, Length: 3182, dtype: int64
ELEVATORS_AVG
NaN       163891
0.0000     85718
0.0800      9886
0.1600      8806
0.2400      6071
           ...
0.2284         1
0.0828         1
0.0232         1
0.0180         1
0.0528         1
Name: count, Length: 258, dtype: int64
ENTRANCES_AVG
NaN       154828
0.1379     34007
0.0690     22956
0.1034     19533
0.2069     19062
           ...
0.0355         1
0.1645         1
0.2145         1
0.1341         1
0.1059         1
Name: count, Length: 286, dtype: int64
FLOORSMAX_AVG
NaN       153020
0.1667     61875
0.3333     31909
0.0417     14600
0.3750      7926
           ...
0.1792         1
0.2200         1
0.1133         1
0.0900         1
0.2042         1
Name: count, Length: 404, dtype: int64
FLOORSMIN_AVG
NaN       208642
0.2083     32875
0.3750     17845
0.0417     17776
0.0833      5086
           ...
0.3175         1
0.1212         1
0.0138         1
0.3000         1
0.2283         1
Name: count, Length: 306, dtype: int64
LANDAREA_AVG
NaN       182590
0.0000     15600
0.0631       189
0.0316       187
0.0473       186
           ...
0.2617         1
0.2539         1
0.2416         1
0.3417         1
0.3130         1
Name: count, Length: 3528, dtype: int64
LIVINGAPARTMENTS_AVG
NaN       210199
0.0504      4272
0.0672      4231
0.0756      2778
0.0588      2586
           ...
0.0767         1
0.1250         1
0.0355         1
0.0830         1
0.1543         1
Name: count, Length: 1869, dtype: int64
LIVINGAREA_AVG
NaN       154350
0.0000       284
0.0512       243
0.0702       223
0.0510       223
           ...
0.3750         1
0.5441         1
0.4038         1
0.3755         1
0.9279         1
Name: count, Length: 5200, dtype: int64
NONLIVINGAPARTMENTS_AVG
NaN       213514
0.0000     54549
0.0039     13606
0.0077      6351
0.0116      3714
           ...
0.3629         1
0.7568         1
0.5019         1
0.0647         1
0.0319         1
Name: count, Length: 387, dtype: int64
NONLIVINGAREA_AVG
NaN       169682
0.0000     58735
0.0012       546
0.0044       454
0.0022       440
           ...
0.3298         1
0.1728         1
0.2542         1
0.3473         1
0.2879         1
Name: count, Length: 3291, dtype: int64
APARTMENTS_MODE
NaN       156061
0.0840      7522
0.0630      7451
0.0945      4757
0.0735      4388
           ...
0.8361         1
0.8445         1
0.9181         1
0.8971         1
0.6586         1
Name: count, Length: 761, dtype: int64
BASEMENTAREA_MODE
NaN       179943
0.0000     16598
0.0566       269
0.0849       265
0.0642       253
           ...
0.4523         1
0.5393         1
0.3808         1
0.3408         1
0.2808         1
Name: count, Length: 3842, dtype: int64
YEARS_BEGINEXPLUATATION_MODE
NaN       150007
0.9871      4291
0.9866      4173
0.9861      4167
0.9801      4110
           ...
0.4518         1
0.4359         1
0.8987         1
0.9166         1
0.8937         1
Name: count, Length: 222, dtype: int64
YEARS_BUILD_MODE
NaN       204488
0.8301      2960
0.8236      2879
0.7387      2789
0.8171      2763
           ...
0.0395         2
0.0983         1
0.0657         1
0.0591         1
0.0330         1
Name: count, Length: 155, dtype: int64
COMMONAREA_MODE
NaN       214865
0.0000      9690
0.0080       546
0.0079       543
0.0078       518
           ...
0.4065         1
0.3097         1
0.3071         1
0.4944         1
0.1635         1
Name: count, Length: 3129, dtype: int64
ELEVATORS_MODE
NaN       163891
0.0000     89498
0.0806     11629
0.1611      9675
0.2417      6379
0.1208      5734
0.0403      4876
0.2014      3962
0.3222      2887
0.2820      2135
0.4028      1554
0.3625      1308
0.4834      1094
0.4431       628
0.5639       491
0.6445       447
0.5236       253
0.6042       226
0.7250       219
1.0000       144
0.8056       137
0.6848        99
0.9667        87
0.8862        66
0.7653        38
0.8459        34
0.9264        20
Name: count, dtype: int64
ENTRANCES_MODE
NaN       154828
0.1379     36041
0.0690     26704
0.1034     20533
0.2069     19678
0.0345     19428
0.1724      8986
0.2759      8036
0.2414      4013
0.3448      2046
0.3103      2014
0.4138      1212
0.3793       977
0.4828       500
0.4483       431
0.0000       387
0.5517       351
0.5172       301
0.6207       241
0.5862       186
1.0000       152
0.6897       116
0.6552        65
0.8966        52
0.7586        48
0.7241        44
0.8276        42
0.7931        39
0.9655        25
0.9310        21
0.8621        14
Name: count, dtype: int64
FLOORSMAX_MODE
NaN       153020
0.1667     65550
0.3333     34373
0.0417     15616
0.3750      8321
0.1250      7267
0.0833      6785
0.0000      3415
0.4583      3216
0.6250      2075
0.5417      1836
0.6667      1710
0.2083      1505
0.2500       572
0.2917       511
0.5833       391
0.4167       236
0.8750       229
0.7083       199
0.5000       184
1.0000       164
0.7500       124
0.9583        94
0.7917        58
0.9167        38
0.8333        22
Name: count, dtype: int64
FLOORSMIN_MODE
NaN       208642
0.2083     34403
0.3750     19042
0.0417     18917
0.0833      5349
0.4167      4105
0.1667      3636
0.1250      3170
0.0000      2517
0.5000      1889
0.6667      1264
0.7083      1143
0.5833      1051
0.2500       772
0.2917       359
0.3333       320
0.6250       207
1.0000       141
0.5417       140
0.9167       131
0.4583       105
0.7500        99
0.7917        61
0.8333        22
0.9583        17
0.8750         9
Name: count, dtype: int64
LANDAREA_MODE
NaN       182590
0.0000     17453
0.0194       208
0.0645       193
0.0484       192
           ...
0.2428         1
0.4716         1
0.6044         1
0.3757         1
0.2723         1
Name: count, Length: 3564, dtype: int64
LIVINGAPARTMENTS_MODE
NaN       210199
0.0551      4931
0.0735      4797
0.0826      2966
0.0643      2853
           ...
0.6042         1
0.5638         1
0.6795         1
0.9109         1
0.6538         1
Name: count, Length: 737, dtype: int64
LIVINGAREA_MODE
NaN       154350
0.0000       444
0.0530       272
0.0532       262
0.0529       249
           ...
0.3526         1
0.7223         1
0.4394         1
0.7364         1
0.9667         1
Name: count, Length: 5302, dtype: int64
NONLIVINGAPARTMENTS_MODE
NaN       213514
0.0000     59255
0.0039     14105
0.0078      6413
0.0117      3675
           ...
0.5953         1
0.7626         1
0.7082         1
0.4708         1
0.6070         1
Name: count, Length: 168, dtype: int64
NONLIVINGAREA_MODE
NaN       169682
0.0000     67126
0.0011       477
0.0046       466
0.0033       430
           ...
0.1908         1
0.5423         1
0.2705         1
0.2391         1
0.4109         1
Name: count, Length: 3328, dtype: int64
APARTMENTS_MEDI
NaN       156061
0.0833      7109
0.0625      6687
0.0937      4622
0.0729      4211
           ...
0.8317         1
0.9743         1
0.2535         1
0.3294         1
0.3024         1
Name: count, Length: 1149, dtype: int64
BASEMENTAREA_MEDI
NaN       179943
0.0000     14991
0.0818       271
0.1091       266
0.0545       265
           ...
0.4029         1
0.2772         1
0.4932         1
0.4936         1
0.2733         1
Name: count, Length: 3773, dtype: int64
YEARS_BEGINEXPLUATATION_MEDI
NaN       150007
0.9871      4314
0.9861      4247
0.9856      4199
0.9866      4138
           ...
0.9076         1
0.5315         1
0.4938         1
0.9056         1
0.8629         1
Name: count, Length: 246, dtype: int64
YEARS_BUILD_MEDI
NaN       204488
0.8256      2994
0.8189      2883
0.8054      2842
0.7316      2799
           ...
0.0607         2
0.3828         2
0.0406         1
0.0339         1
0.0071         1
Name: count, Length: 152, dtype: int64
COMMONAREA_MEDI
NaN       214865
0.0000      8691
0.0079       581
0.0080       486
0.0078       481
           ...
0.2514         1
0.3075         1
0.2972         1
0.1534         1
0.1648         1
Name: count, Length: 3203, dtype: int64
ELEVATORS_MEDI
NaN     163891
0.00     87026
0.08     10832
0.16      9278
0.24      6392
0.12      5946
0.04      4852
0.20      4162
0.32      2937
0.28      2317
0.40      1604
0.36      1405
0.48      1096
0.44       715
0.10       543
0.56       493
0.64       454
0.14       388
0.06       388
0.02       368
0.52       290
0.18       280
0.60       248
0.22       226
0.72       224
1.00       158
0.26       145
0.80       140
0.68       112
0.30        94
0.96        81
0.34        80
0.88        68
0.38        62
0.76        45
0.42        32
0.84        32
0.46        23
0.92        20
0.50        16
0.78        10
0.54        10
0.58         6
0.90         6
0.74         6
0.66         5
0.62         5
Name: count, dtype: int64
ENTRANCES_MEDI
NaN       154828
0.1379     35535
0.0690     24193
0.1034     20492
0.2069     19750
0.0345     16150
0.1724      9566
0.2759      8048
0.2414      4318
0.3448      2108
0.3103      2086
0.0862      1352
0.1207      1228
0.4138      1198
0.3793      1010
0.1552       788
0.0517       611
0.1897       554
0.4828       503
0.4483       438
0.5517       352
0.0000       329
0.5172       304
0.2241       278
0.6207       241
0.5862       187
0.2586       169
1.0000       153
0.6897       116
0.2931       106
0.6552        68
0.3276        59
0.8966        52
0.7586        48
0.7241        44
0.8276        42
0.3621        39
0.7931        39
0.4310        31
0.9655        25
0.9310        21
0.8621        14
0.3966        14
0.4655        12
0.0172         7
0.5690         4
0.5000         1
Name: count, dtype: int64
FLOORSMAX_MEDI
NaN       153020
0.1667     63607
0.3333     33279
0.0417     14832
0.3750      8207
0.1250      7079
0.0833      6657
0.4583      3089
0.0000      2995
0.6250      2042
0.5417      1860
0.2500      1684
0.6667      1675
0.2083      1544
0.2917       567
0.1042       460
0.3542       459
0.5833       439
0.3958       346
0.4167       329
0.1458       321
0.5000       312
0.2708       291
0.1875       245
0.8750       223
0.4792       220
0.7083       204
1.0000       170
0.4375       138
0.7500       136
0.0625       132
0.3125       131
0.2292       128
0.0208       126
0.6042       115
0.9583        95
0.7917        61
0.5208        47
0.5625        46
0.8333        39
0.9167        37
0.6458        30
0.7708        27
0.6875        24
0.8125        23
0.7292        10
0.9375         4
0.8542         3
0.8958         2
0.9792         1
Name: count, dtype: int64
FLOORSMIN_MEDI
NaN       208642
0.2083     33737
0.3750     18538
0.0417     18090
0.0833      5131
0.4167      4068
0.1667      3570
0.1250      3373
0.0000      2351
0.5000      1835
0.6667      1261
0.7083      1108
0.5833      1057
0.2917       852
0.2500       779
0.3333       341
0.6250       235
0.5417       212
0.3958       205
0.4375       186
0.1458       180
0.1875       159
0.4583       154
0.3125       148
1.0000       147
0.9167       130
0.2292       121
0.7500       116
0.1042       106
0.2708       104
0.5208        81
0.3542        79
0.7917        64
0.4792        61
0.0625        51
0.0208        50
0.6458        49
0.8333        27
0.5625        19
0.8750        16
0.6042        16
0.9583        14
0.8125        12
0.7292        10
0.6875         9
0.7708         7
0.9792         5
0.8542         5
Name: count, dtype: int64
LANDAREA_MEDI
NaN       182590
0.0000     15919
0.0193       197
0.0642       194
0.0482       186
           ...
0.2560         1
0.3274         1
0.3335         1
0.3605         1
0.2709         1
Name: count, Length: 3561, dtype: int64
LIVINGAPARTMENTS_MEDI
NaN       210199
0.0513      4500
0.0684      4497
0.0770      2926
0.0599      2708
           ...
0.2672         1
0.9149         1
0.8183         1
0.6020         1
0.3638         1
Name: count, Length: 1098, dtype: int64
LIVINGAREA_MEDI
NaN       154350
0.0000       299
0.0548       239
0.0518       234
0.0520       233
           ...
0.5532         1
0.4647         1
0.8707         1
0.4206         1
0.9445         1
Name: count, Length: 5282, dtype: int64
NONLIVINGAPARTMENTS_MEDI
NaN       213514
0.0000     56097
0.0039     14126
0.0078      6493
0.0116      3788
           ...
0.4289         1
0.4852         1
0.5939         1
0.4930         1
0.6056         1
Name: count, Length: 215, dtype: int64
NONLIVINGAREA_MEDI
NaN       169682
0.0000     60954
0.0012       539
0.0022       478
0.0037       456
           ...
0.3908         1
0.2364         1
0.3819         1
0.3323         1
0.2940         1
Name: count, Length: 3324, dtype: int64
TOTALAREA_MODE
NaN       148431
0.0000       582
0.0570       247
0.0547       230
0.0548       227
           ...
0.3623         1
0.8882         1
0.7384         1
0.4771         1
0.7970         1
Name: count, Length: 5117, dtype: int64
OBS_30_CNT_SOCIAL_CIRCLE
0.0      163910
1.0       48783
2.0       29808
3.0       20322
4.0       14143
5.0        9553
6.0        6453
7.0        4390
8.0        2967
9.0        2003
10.0       1376
NaN        1021
11.0        852
12.0        652
13.0        411
14.0        258
15.0        166
16.0        133
17.0         88
18.0         46
19.0         44
20.0         30
21.0         29
22.0         22
23.0         15
25.0         11
24.0         11
27.0          5
26.0          3
30.0          2
28.0          1
29.0          1
47.0          1
348.0         1
Name: count, dtype: int64
DEF_30_CNT_SOCIAL_CIRCLE
0.0     271324
1.0      28328
2.0       5323
3.0       1192
NaN       1021
4.0        253
5.0         56
6.0         11
7.0          1
34.0         1
8.0          1
Name: count, dtype: int64
OBS_60_CNT_SOCIAL_CIRCLE
0.0      164666
1.0       48870
2.0       29766
3.0       20215
4.0       13946
5.0        9463
6.0        6349
7.0        4344
8.0        2886
9.0        1959
10.0       1335
NaN        1021
11.0        837
12.0        620
13.0        401
14.0        238

In [25]:
# fillna numerical columns with 0.
numerical_and_id= numerical_and_id.fillna(0)

In [26]:
# Inspect numerical columns after filling na with 0.
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

TARGET
0    282686
1     24825
Name: count, dtype: int64
CNT_CHILDREN
0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
8          2
9          2
12         2
10         2
19         2
11         1
Name: count, dtype: int64
AMT_INCOME_TOTAL
135000.0    35750
112500.0    31019
157500.0    26556
180000.0    24719
90000.0     22483
            ...
117324.0        1
64584.0         1
142897.5        1
109170.0        1
113062.5        1
Name: count, Length: 2548, dtype: int64
AMT_CREDIT
450000.0     9709
675000.0     8877
225000.0     8162
180000.0     7342
270000.0     7241
             ...
487318.5        1
630400.5        1
1875276.0       1
1395895.5       1
1391130.0       1
Name: count, Length: 5603, dtype: int64
AMT_ANNUITY
9000.0      6385
13500.0     5514
6750.0      2279
10125.0     2035
37800.0     1602
            ...
79902.0        1
106969.5       1
60885.0        1
59661.0        1
77809.5        1
Name: count, Length: 13673, dtype: int64
AMT_GOODS_PRICE
450000.0     26022
225000.0     25282
675000.0     24962
900000.0     15416
270000.0     11428
             ...
447606.0         1
2106000.0        1
894654.0         1
323982.0         1
743863.5         1
Name: count, Length: 1003, dtype: int64
REGION_POPULATION_RELATIVE
0.035792    16408
0.046220    13442
0.030755    12163
0.025164    11950
0.026392    11601
            ...
0.001417      467
0.001333      235
0.000533       39
0.000938       28
0.000290        2
Name: count, Length: 81, dtype: int64
DAYS_BIRTH
-13749    43
-13481    42
-18248    41
-10020    41
-15771    40
          ..
-24898     1
-24868     1
-8017      1
-25098     1
-25061     1
Name: count, Length: 17460, dtype: int64
DAYS_EMPLOYED
 365243    55374
-200         156
-224         152
-230         151
-199         151
           ...
-13961         1
-11827         1
-10176         1
-9459          1
-8694          1
Name: count, Length: 12574, dtype: int64
DAYS_REGISTRATION
-1.0        113
-7.0         98
-6.0         96
-4.0         92
-2.0         92
           ...
-15581.0      1
-15031.0      1
-14804.0      1
-15008.0      1
-14798.0      1
Name: count, Length: 15688, dtype: int64
DAYS_ID_PUBLISH
-4053    169
-4095    162
-4046    161
-4417    159
-4256    158
        ...
-5896      1
-5921      1
-5753      1
-5960      1
-6211      1
Name: count, Length: 6168, dtype: int64
OWN_CAR_AGE
0.0     205063
7.0       7424
6.0       6382
3.0       6370
8.0       5887
         ...
69.0         1
50.0         1
47.0         1
48.0         1
52.0         1
Name: count, Length: 62, dtype: int64
FLAG_MOBIL
1    307510
0         1
Name: count, dtype: int64
FLAG_EMP_PHONE
1    252125
0     55386
Name: count, dtype: int64
FLAG_WORK_PHONE
0    246203
1     61308
Name: count, dtype: int64
FLAG_CONT_MOBILE
1    306937
0       574
Name: count, dtype: int64
FLAG_PHONE
0    221080
1     86431
Name: count, dtype: int64
FLAG_EMAIL
0    290069
1     17442
Name: count, dtype: int64
CNT_FAM_MEMBERS
2.0     158357
1.0      67847
3.0      52601
4.0      24697
5.0       3478
6.0        408
7.0         81
8.0         20
9.0          6
10.0         3
0.0          2
14.0         2
12.0         2
20.0         2
16.0         2
13.0         1
15.0         1
11.0         1
Name: count, dtype: int64
REGION_RATING_CLIENT
2    226984
3     48330
1     32197
Name: count, dtype: int64
REGION_RATING_CLIENT_W_CITY
2    229484
3     43860
1     34167
Name: count, dtype: int64
HOUR_APPR_PROCESS_START
10    37722
11    37229
12    34233
13    30959
14    27682
9     27384
15    24839
16    20385
8     15127
17    14900
7      9131
18     9049
6      5842
19     3848
5      3638
4      2090
3      1230
20     1196
21      405
2       305
22      150
1        86
23       41
0        40
Name: count, dtype: int64
REG_REGION_NOT_LIVE_REGION
0    302854
1      4657
Name: count, dtype: int64
REG_REGION_NOT_WORK_REGION
0    291899
1     15612
Name: count, dtype: int64
LIVE_REGION_NOT_WORK_REGION
0    295008
1     12503
Name: count, dtype: int64
REG_CITY_NOT_LIVE_CITY
0    283472
1     24039
Name: count, dtype: int64
REG_CITY_NOT_WORK_CITY
0    236644
1     70867
Name: count, dtype: int64
LIVE_CITY_NOT_WORK_CITY
0    252296
1     55215
Name: count, dtype: int64
EXT_SOURCE_1
0.000000    173378
0.581015         5
0.546426         5
0.443982         5
0.765724         5
             ...
0.658473         1
0.318295         1
0.834644         1
0.485406         1
0.734460         1
Name: count, Length: 114585, dtype: int64
EXT_SOURCE_2
0.285898    721
0.000000    660
0.262258    417
0.265256    343
0.159679    322
           ...
0.004725      1
0.257313      1
0.282030      1
0.181540      1
0.267834      1
Name: count, Length: 119832, dtype: int64
EXT_SOURCE_3
0.000000    60965
0.746300     1460
0.713631     1315
0.694093     1276
0.670652     1191
            ...
0.028674        1
0.025272        1
0.021492        1
0.014556        1
0.043227        1
Name: count, Length: 815, dtype: int64
APARTMENTS_AVG
0.0000    156812
0.0825      6663
0.0619      6332
0.0928      4404
0.0722      3986
           ...
0.3727         1
0.1075         1
0.7165         1
0.8237         1
0.3466         1
Name: count, Length: 2339, dtype: int64
BASEMENTAREA_AVG
0.0000    194688
0.0818       251
0.0545       251
0.0727       248
0.1091       246
           ...
0.2999         1
0.2737         1
0.4696         1
0.2992         1
0.6360         1
Name: count, Length: 3780, dtype: int64
YEARS_BEGINEXPLUATATION_AVG
0.0000    150521
0.9871      4311
0.9856      4189
0.9861      4171
0.9801      4123
           ...
0.8992         1
0.8276         1
0.3279         1
0.6577         1
0.8629         1
Name: count, Length: 285, dtype: int64
YEARS_BUILD_AVG
0.0000    204590
0.8232      2999
0.8164      2864
0.8028      2848
0.7280      2802
           ...
0.0004         2
0.3744         2
0.3676         2
0.0276         1
0.0208         1
Name: count, Length: 149, dtype: int64
COMMONAREA_AVG
0.0000    223307
0.0079       544
0.0078       475
0.0080       446
0.0077       414
           ...
0.2299         1
0.2496         1
0.2737         1
0.3814         1
0.1620         1
Name: count, Length: 3181, dtype: int64
ELEVATORS_AVG
0.0000    249609
0.0800      9886
0.1600      8806
0.2400      6071
0.1200      5593
           ...
0.2284         1
0.0828         1
0.0232         1
0.0180         1
0.0528         1
Name: count, Length: 257, dtype: int64
ENTRANCES_AVG
0.0000    155151
0.1379     34007
0.0690     22956
0.1034     19533
0.2069     19062
           ...
0.0355         1
0.1645         1
0.2145         1
0.1341         1
0.1059         1
Name: count, Length: 285, dtype: int64
FLOORSMAX_AVG
0.0000    155958
0.1667     61875
0.3333     31909
0.0417     14600
0.3750      7926
           ...
0.1792         1
0.2200         1
0.1133         1
0.0900         1
0.2042         1
Name: count, Length: 403, dtype: int64
FLOORSMIN_AVG
0.0000    210962
0.2083     32875
0.3750     17845
0.0417     17776
0.0833      5086
           ...
0.3175         1
0.1212         1
0.0138         1
0.3000         1
0.2283         1
Name: count, Length: 305, dtype: int64
LANDAREA_AVG
0.0000    198190
0.0631       189
0.0316       187
0.0473       186
0.0174       180
           ...
0.2617         1
0.2539         1
0.2416         1
0.3417         1
0.3130         1
Name: count, Length: 3527, dtype: int64
LIVINGAPARTMENTS_AVG
0.0000    210617
0.0504      4272
0.0672      4231
0.0756      2778
0.0588      2586
           ...
0.7128         1
0.1401         1
0.5085         1
0.1575         1
0.1543         1
Name: count, Length: 1868, dtype: int64
LIVINGAREA_AVG
0.0000    154634
0.0512       243
0.0510       223
0.0702       223
0.0509       221
           ...
0.3750         1
0.5441         1
0.4038         1
0.3755         1
0.9279         1
Name: count, Length: 5199, dtype: int64
NONLIVINGAPARTMENTS_AVG
0.0000    268063
0.0039     13606
0.0077      6351
0.0116      3714
0.0154      2533
           ...
0.2664         1
0.0323         1
0.0946         1
0.0091         1
0.0319         1
Name: count, Length: 386, dtype: int64
NONLIVINGAREA_AVG
0.0000    228417
0.0012       546
0.0044       454
0.0022       440
0.0031       415
           ...
0.2989         1
0.1611         1
0.6946         1
0.2554         1
0.2879         1
Name: count, Length: 3290, dtype: int64
APARTMENTS_MODE
0.0000    157037
0.0840      7522
0.0630      7451
0.0945      4757
0.0735      4388
           ...
0.8445         1
0.9181         1
0.7458         1
0.8971         1
0.6586         1
Name: count, Length: 760, dtype: int64
BASEMENTAREA_MODE
0.0000    196541
0.0566       269
0.0849       265
0.0642       253
0.0830       251
           ...
0.4523         1
0.5393         1
0.3808         1
0.3408         1
0.2808         1
Name: count, Length: 3841, dtype: int64
YEARS_BEGINEXPLUATATION_MODE
0.0000    150149
0.9871      4291
0.9866      4173
0.9861      4167
0.9801      4110
           ...
0.4518         1
0.4359         1
0.8987         1
0.9166         1
0.8937         1
Name: count, Length: 221, dtype: int64
YEARS_BUILD_MODE
0.0000    204591
0.8301      2960
0.8236      2879
0.7387      2789
0.8171      2763
           ...
0.0853         2
0.0591         1
0.0983         1
0.0657         1
0.0330         1
Name: count, Length: 154, dtype: int64
COMMONAREA_MODE
0.0000    224555
0.0080       546
0.0079       543
0.0078       518
0.0081       416
           ...
0.2154         1
0.2090         1
0.2568         1
0.2995         1
0.1635         1
Name: count, Length: 3128, dtype: int64
ELEVATORS_MODE
0.0000    253389
0.0806     11629
0.1611      9675
0.2417      6379
0.1208      5734
0.0403      4876
0.2014      3962
0.3222      2887
0.2820      2135
0.4028      1554
0.3625      1308
0.4834      1094
0.4431       628
0.5639       491
0.6445       447
0.5236       253
0.6042       226
0.7250       219
1.0000       144
0.8056       137
0.6848        99
0.9667        87
0.8862        66
0.7653        38
0.8459        34
0.9264        20
Name: count, dtype: int64
ENTRANCES_MODE
0.0000    155215
0.1379     36041
0.0690     26704
0.1034     20533
0.2069     19678
0.0345     19428
0.1724      8986
0.2759      8036
0.2414      4013
0.3448      2046
0.3103      2014
0.4138      1212
0.3793       977
0.4828       500
0.4483       431
0.5517       351
0.5172       301
0.6207       241
0.5862       186
1.0000       152
0.6897       116
0.6552        65
0.8966        52
0.7586        48
0.7241        44
0.8276        42
0.7931        39
0.9655        25
0.9310        21
0.8621        14
Name: count, dtype: int64
FLOORSMAX_MODE
0.0000    156435
0.1667     65550
0.3333     34373
0.0417     15616
0.3750      8321
0.1250      7267
0.0833      6785
0.4583      3216
0.6250      2075
0.5417      1836
0.6667      1710
0.2083      1505
0.2500       572
0.2917       511
0.5833       391
0.4167       236
0.8750       229
0.7083       199
0.5000       184
1.0000       164
0.7500       124
0.9583        94
0.7917        58
0.9167        38
0.8333        22
Name: count, dtype: int64
FLOORSMIN_MODE
0.0000    211159
0.2083     34403
0.3750     19042
0.0417     18917
0.0833      5349
0.4167      4105
0.1667      3636
0.1250      3170
0.5000      1889
0.6667      1264
0.7083      1143
0.5833      1051
0.2500       772
0.2917       359
0.3333       320
0.6250       207
1.0000       141
0.5417       140
0.9167       131
0.4583       105
0.7500        99
0.7917        61
0.8333        22
0.9583        17
0.8750         9
Name: count, dtype: int64
LANDAREA_MODE
0.0000    200043
0.0194       208
0.0645       193
0.0484       192
0.0323       188
           ...
0.2428         1
0.4716         1
0.6044         1
0.3757         1
0.2723         1
Name: count, Length: 3563, dtype: int64
LIVINGAPARTMENTS_MODE
0.0000    210718
0.0551      4931
0.0735      4797
0.0826      2966
0.0643      2853
           ...
0.7062         1
0.6042         1
0.5638         1
0.6795         1
0.6538         1
Name: count, Length: 736, dtype: int64
LIVINGAREA_MODE
0.0000    154794
0.0530       272
0.0532       262
0.0529       249
0.0533       242
           ...
0.3526         1
0.7223         1
0.4394         1
0.7364         1
0.9667         1
Name: count, Length: 5301, dtype: int64
NONLIVINGAPARTMENTS_MODE
0.0000    272769
0.0039     14105
0.0078      6413
0.0117      3675
0.0156      2492
           ...
0.5953         1
0.7626         1
0.7082         1
0.4708         1
0.6070         1
Name: count, Length: 167, dtype: int64
NONLIVINGAREA_MODE
0.0000    236808
0.0011       477
0.0046       466
0.0033       430
0.0012       427
           ...
0.1908         1
0.5423         1
0.2705         1
0.2391         1
0.4109         1
Name: count, Length: 3327, dtype: int64
APARTMENTS_MEDI
0.0000    156832
0.0833      7109
0.0625      6687
0.0937      4622
0.0729      4211
           ...
0.6225         1
0.7724         1
0.7234         1
0.8889         1
0.3024         1
Name: count, Length: 1148, dtype: int64
BASEMENTAREA_MEDI
0.0000    194934
0.0818       271
0.1091       266
0.0545       265
0.0727       248
           ...
0.6082         1
0.3250         1
0.5008         1
0.2801         1
0.2733         1
Name: count, Length: 3772, dtype: int64
YEARS_BEGINEXPLUATATION_MEDI
0.0000    150555
0.9871      4314
0.9861      4247
0.9856      4199
0.9866      4138
           ...
0.9076         1
0.5315         1
0.4938         1
0.9056         1
0.8629         1
Name: count, Length: 245, dtype: int64
YEARS_BUILD_MEDI
0.0000    204589
0.8256      2994
0.8189      2883
0.8054      2842
0.7316      2799
           ...
0.0607         2
0.0138         2
0.0406         1
0.0339         1
0.0071         1
Name: count, Length: 151, dtype: int64
COMMONAREA_MEDI
0.0000    223556
0.0079       581
0.0080       486
0.0078       481
0.0014       377
           ...
0.6284         1
0.4041         1
0.2683         1
0.2733         1
0.1648         1
Name: count, Length: 3202, dtype: int64
ELEVATORS_MEDI
0.00    250917
0.08     10832
0.16      9278
0.24      6392
0.12      5946
0.04      4852
0.20      4162
0.32      2937
0.28      2317
0.40      1604
0.36      1405
0.48      1096
0.44       715
0.10       543
0.56       493
0.64       454
0.14       388
0.06       388
0.02       368
0.52       290
0.18       280
0.60       248
0.22       226
0.72       224
1.00       158
0.26       145
0.80       140
0.68       112
0.30        94
0.96        81
0.34        80
0.88        68
0.38        62
0.76        45
0.42        32
0.84        32
0.46        23
0.92        20
0.50        16
0.54        10
0.78        10
0.58         6
0.74         6
0.90         6
0.66         5
0.62         5
Name: count, dtype: int64
ENTRANCES_MEDI
0.0000    155157
0.1379     35535
0.0690     24193
0.1034     20492
0.2069     19750
0.0345     16150
0.1724      9566
0.2759      8048
0.2414      4318
0.3448      2108
0.3103      2086
0.0862      1352
0.1207      1228
0.4138      1198
0.3793      1010
0.1552       788
0.0517       611
0.1897       554
0.4828       503
0.4483       438
0.5517       352
0.5172       304
0.2241       278
0.6207       241
0.5862       187
0.2586       169
1.0000       153
0.6897       116
0.2931       106
0.6552        68
0.3276        59
0.8966        52
0.7586        48
0.7241        44
0.8276        42
0.3621        39
0.7931        39
0.4310        31
0.9655        25
0.9310        21
0.3966        14
0.8621        14
0.4655        12
0.0172         7
0.5690         4
0.5000         1
Name: count, dtype: int64
FLOORSMAX_MEDI
0.0000    156015
0.1667     63607
0.3333     33279
0.0417     14832
0.3750      8207
0.1250      7079
0.0833      6657
0.4583      3089
0.6250      2042
0.5417      1860
0.2500      1684
0.6667      1675
0.2083      1544
0.2917       567
0.1042       460
0.3542       459
0.5833       439
0.3958       346
0.4167       329
0.1458       321
0.5000       312
0.2708       291
0.1875       245
0.8750       223
0.4792       220
0.7083       204
1.0000       170
0.4375       138
0.7500       136
0.0625       132
0.3125       131
0.2292       128
0.0208       126
0.6042       115
0.9583        95
0.7917        61
0.5208        47
0.5625        46
0.8333        39
0.9167        37
0.6458        30
0.7708        27
0.6875        24
0.8125        23
0.7292        10
0.9375         4
0.8542         3
0.8958         2
0.9792         1
Name: count, dtype: int64
FLOORSMIN_MEDI
0.0000    210993
0.2083     33737
0.3750     18538
0.0417     18090
0.0833      5131
0.4167      4068
0.1667      3570
0.1250      3373
0.5000      1835
0.6667      1261
0.7083      1108
0.5833      1057
0.2917       852
0.2500       779
0.3333       341
0.6250       235
0.5417       212
0.3958       205
0.4375       186
0.1458       180
0.1875       159
0.4583       154
0.3125       148
1.0000       147
0.9167       130
0.2292       121
0.7500       116
0.1042       106
0.2708       104
0.5208        81
0.3542        79
0.7917        64
0.4792        61
0.0625        51
0.0208        50
0.6458        49
0.8333        27
0.5625        19
0.8750        16
0.6042        16
0.9583        14
0.8125        12
0.7292        10
0.6875         9
0.7708         7
0.9792         5
0.8542         5
Name: count, dtype: int64
LANDAREA_MEDI
0.0000    198509
0.0193       197
0.0642       194
0.0482       186
0.0143       180
           ...
0.7523         1
0.3480         1
0.3288         1
0.8106         1
0.2709         1
Name: count, Length: 3560, dtype: int64
LIVINGAPARTMENTS_MEDI
0.0000    210632
0.0513      4500
0.0684      4497
0.0770      2926
0.0599      2708
           ...
0.2672         1
0.9149         1
0.8183         1
0.6020         1
0.3638         1
Name: count, Length: 1097, dtype: int64
LIVINGAREA_MEDI
0.0000    154649
0.0548       239
0.0518       234
0.0520       233
0.0521       232
           ...
0.5532         1
0.4647         1
0.8707         1
0.4206         1
0.9445         1
Name: count, Length: 5281, dtype: int64
NONLIVINGAPARTMENTS_MEDI
0.0000    269611
0.0039     14126
0.0078      6493
0.0116      3788
0.0155      2557
           ...
0.6638         1
0.6289         1
0.4852         1
0.3649         1
0.6056         1
Name: count, Length: 214, dtype: int64
NONLIVINGAREA_MEDI
0.0000    230636
0.0012       539
0.0022       478
0.0037       456
0.0044       431
           ...
0.3908         1
0.2364         1
0.3819         1
0.3323         1
0.2940         1
Name: count, Length: 3323, dtype: int64
TOTALAREA_MODE
0.0000    149013
0.0570       247
0.0547       230
0.0550       227
0.0555       227
           ...
0.3445         1
0.2894         1
0.8712         1
0.5775         1
0.7970         1
Name: count, Length: 5116, dtype: int64
OBS_30_CNT_SOCIAL_CIRCLE
0.0      164931
1.0       48783
2.0       29808
3.0       20322
4.0       14143
5.0        9553
6.0        6453
7.0        4390
8.0        2967
9.0        2003
10.0       1376
11.0        852
12.0        652
13.0        411
14.0        258
15.0        166
16.0        133
17.0         88
18.0         46
19.0         44
20.0         30
21.0         29
22.0         22
23.0         15
25.0         11
24.0         11
27.0          5
26.0          3
30.0          2
28.0          1
29.0          1
47.0          1
348.0         1
Name: count, dtype: int64
DEF_30_CNT_SOCIAL_CIRCLE
0.0     272345
1.0      28328
2.0       5323
3.0       1192
4.0        253
5.0         56
6.0         11
7.0          1
34.0         1
8.0          1
Name: count, dtype: int64
OBS_60_CNT_SOCIAL_CIRCLE
0.0      165687
1.0       48870
2.0       29766
3.0       20215
4.0       13946
5.0        9463
6.0        6349
7.0        4344
8.0        2886
9.0        1959
10.0       1335
11.0        837
12.0        620
13.0        401
14.0        238
15.0        166
16.0        137
17.0         73
18.0         49
19.0         44
20.0         30
21.0         28
22.0         20
23.0         13
24.0         12
25.0         11
27.0          5

In [27]:
# Merge the categorical and numerical columns
merge_data = pd.merge(numerical_and_id,categorical_and_id,on="SK_ID_CURR")

In [28]:
# print the merge dataset.
print(merge_data)

        SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0           100002       1             0          202500.0    406597.5
1           100003       0             0          270000.0   1293502.5
2           100004       0             0           67500.0    135000.0
3           100006       0             0          135000.0    312682.5
4           100007       0             0          121500.0    513000.0
...            ...     ...           ...               ...         ...
307506      456251       0             0          157500.0    254700.0
307507      456252       0             0           72000.0    269550.0
307508      456253       0             0          153000.0    677664.0
307509      456254       1             0          171000.0    370107.0
307510      456255       0             0          157500.0    675000.0

        AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0           24700.5         351000.0                    0.018801       -9461
1           35698.5        1129500.0                    0.003541      -16765
2            6750.0         135000.0                    0.010032      -19046
3           29686.5         297000.0                    0.008019      -19005
4           21865.5         513000.0                    0.028663      -19932
...             ...              ...                         ...         ...
307506      27558.0         225000.0                    0.032561       -9327
307507      12001.5         225000.0                    0.025164      -20775
307508      29979.0         585000.0                    0.005002      -14966
307509      20205.0         319500.0                    0.005313      -11961
307510      49117.5         675000.0                    0.046220      -16856

        DAYS_EMPLOYED  ...            NAME_EDUCATION_TYPE  \
0                -637  ...  Secondary / secondary special
1               -1188  ...               Higher education
2                -225  ...  Secondary / secondary special
3               -3039  ...  Secondary / secondary special
4               -3038  ...  Secondary / secondary special
...               ...  ...                            ...
307506           -236  ...  Secondary / secondary special
307507         365243  ...  Secondary / secondary special
307508          -7921  ...               Higher education
307509          -4786  ...  Secondary / secondary special
307510          -1262  ...               Higher education

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  OCCUPATION_TYPE  \
0       Single / not married  House / apartment         Laborers
1                    Married  House / apartment       Core staff
2       Single / not married  House / apartment         Laborers
3             Civil marriage  House / apartment         Laborers
4       Single / not married  House / apartment       Core staff
...                      ...                ...              ...
307506             Separated       With parents      Sales staff
307507                 Widow  House / apartment              NaN
307508             Separated  House / apartment         Managers
307509               Married  House / apartment         Laborers
307510               Married  House / apartment         Laborers

        WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE  \
0                        WEDNESDAY  Business Entity Type 3
1                           MONDAY                  School
2                           MONDAY              Government
3                        WEDNESDAY  Business Entity Type 3
4                         THURSDAY                Religion
...                            ...                     ...
307506                    THURSDAY                Services
307507                      MONDAY                     XNA
307508                    THURSDAY                  School
307509                   WEDNESDAY  Business Entity Type 1
307510                    THURSDAY  Business Entity Type 3

        FONDKAPREMONT_MODE  HOUSETYPE_MODE  WALLSMATERIAL_MODE  \
0         reg oper account  block of flats        Stone, brick
1         reg oper account  block of flats               Block
2                      NaN             NaN                 NaN
3                      NaN             NaN                 NaN
4                      NaN             NaN                 NaN
...                    ...             ...                 ...
307506    reg oper account  block of flats        Stone, brick
307507    reg oper account  block of flats        Stone, brick
307508    reg oper account  block of flats               Panel
307509                 NaN  block of flats        Stone, brick
307510                 NaN  block of flats               Panel

        EMERGENCYSTATE_MODE
0                        No
1                        No
2                       NaN
3                       NaN
4                       NaN
...                     ...
307506                   No
307507                   No
307508                   No
307509                   No
307510                   No

[307511 rows x 122 columns]

#### Using RandomForestClassifer to fill the missing categorical values.

In [30]:
# Identify columns with missing categorical values
categorical_columns_with_missing = merge_data.select_dtypes(include='object').columns[merge_data.select_dtypes(include='object').isnull().any()]

# Create a copy of the DataFrame
df_filled = merge_data.copy()

# Initialize a dictionary to store accuracy scores for each column
accuracy_scores = {}

# Iterate over each column with missing categorical values
for col in categorical_columns_with_missing:
    print(f"Filling missing values for {col}")

    # Create a mask for missing values
    missing_mask = df_filled[col].isnull()

    # Split the data into known and unknown samples
    known_samples = df_filled[~missing_mask]
    unknown_samples = df_filled[missing_mask]

    # Drop the target column from known samples
    X_known = known_samples.drop(columns=[col])
    y_known = known_samples[col]

    # Create a preprocessor for numerical and categorical columns
    numerical_features = X_known.select_dtypes(include=['int64', 'float64']).columns
    categorical_features = X_known.select_dtypes(include='object').columns

    numerical_transformer = SimpleImputer(strategy='mean')
    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_features),
            ('cat', categorical_transformer, categorical_features)
        ])

    # Create and fit the classifier
    clf = Pipeline(steps=[('preprocessor', preprocessor),
                           ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))])

    clf.fit(X_known, y_known)

    # Predict missing values for unknown samples
    X_unknown = unknown_samples.drop(columns=[col])
    y_unknown_predicted = clf.predict(X_unknown)

    # Fill missing values in the original DataFrame
    df_filled.loc[missing_mask, col] = y_unknown_predicted

    # Calculate accuracy score
    accuracy = accuracy_score(known_samples[col], clf.predict(X_known))
    accuracy_scores[col] = accuracy

    print(f"Filled {sum(missing_mask)} missing values for {col} with accuracy: {accuracy:.4f}")

    # Check if there are still NaN values after imputation
    nan_columns = df_filled.columns[df_filled.isnull().any()]
    if nan_columns.any():
        print(f"NaN values still present after imputation in columns: {nan_columns}")

# Ensure there are no missing values left
print("\nNumber of missing values after filling:", df_filled.isnull().sum().sum())

Filling missing values for NAME_TYPE_SUITE
Filled 1292 missing values for NAME_TYPE_SUITE with accuracy: 1.0000
NaN values still present after imputation in columns: Index(['OCCUPATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')
Filling missing values for OCCUPATION_TYPE
Filled 96391 missing values for OCCUPATION_TYPE with accuracy: 1.0000
NaN values still present after imputation in columns: Index(['FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE',
       'EMERGENCYSTATE_MODE'],
      dtype='object')
Filling missing values for FONDKAPREMONT_MODE
Filled 210295 missing values for FONDKAPREMONT_MODE with accuracy: 1.0000
NaN values still present after imputation in columns: Index(['HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'], dtype='object')
Filling missing values for HOUSETYPE_MODE
Filled 154297 missing values for HOUSETYPE_MODE with accuracy: 1.0000
NaN values still present after imputation in columns: Index(['WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'], dtype='object')
Filling missing values for WALLSMATERIAL_MODE
Filled 156341 missing values for WALLSMATERIAL_MODE with accuracy: 1.0000
NaN values still present after imputation in columns: Index(['EMERGENCYSTATE_MODE'], dtype='object')
Filling missing values for EMERGENCYSTATE_MODE
Filled 145755 missing values for EMERGENCYSTATE_MODE with accuracy: 1.0000

Number of missing values after filling: 0

In [70]:
# output the cleaned file.
application_train_cleaned = df_filled.to_csv('application_trained_cleaned.csv',index = False)

### Load Bureau Data for Cleaning

In [72]:
# Load bureau data from array
bureau_data = data_frames['bureau']
bureau_data

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [73]:
# only keep unique values for SK_ID_CURR
bureau_data = bureau_data.drop_duplicates(subset='SK_ID_CURR')

In [74]:
# Check shape of data after droping duplicate
print(bureau_data.shape)

(305811, 17)

In [82]:
# Separate SK_ID_CURR along with numerical columns
numerical_and_id = bureau_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_CURR'] = bureau_data['SK_ID_CURR']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = bureau_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_CURR'] = bureau_data['SK_ID_CURR']

In [83]:
# Print numerical data
print("SK_ID_CURR along with Numerical Columns:")
print(numerical_and_id)

SK_ID_CURR along with Numerical Columns:
         SK_ID_CURR  SK_ID_BUREAU  DAYS_CREDIT  CREDIT_DAY_OVERDUE  \
0            215354       5714462         -497                   0
7            162297       5714469        -1896                   0
13           402440       5714475          -96                   0
14           238881       5714482         -318                   0
21           222183       5714491         -784                   0
...             ...           ...          ...                 ...
1715434      207190       5052629         -532                   0
1715484      324956       5054382         -381                   0
1715600      448157       5043236        -1441                   0
1715863      345866       5053303         -375                   0
1716261      235871       5053356        -2724                   0

         DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  \
0                     -153.0             -153.0                     NaN
7                    -1684.0            -1710.0                 14985.0
13                     269.0                NaN                     0.0
14                    -187.0             -187.0                     NaN
21                    1008.0                NaN                     0.0
...                      ...                ...                     ...
1715434                 45.0             -227.0                     NaN
1715484               -199.0             -199.0                     0.0
1715600               2197.0                NaN                     NaN
1715863                -41.0              -19.0                     NaN
1716261              -2511.0            -2511.0                     0.0

         CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  \
0                         0        91323.00                0.000
7                         0        76878.45                0.000
13                        0        89910.00            76905.000
14                        0            0.00                0.000
21                        0            0.00             -411.615
...                     ...             ...                  ...
1715434                   0       450000.00                0.000
1715484                   0        19800.00                0.000
1715600                   0      1800000.00          1076809.500
1715863                   0       175054.50                  NaN
1716261                   0       101250.00                0.000

         AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  DAYS_CREDIT_UPDATE  \
0                         NaN                     0.0                -131
7                       0.000                     0.0               -1710
13                      0.000                     0.0                 -22
14                      0.000                     0.0                -185
21                    411.615                     0.0                -694
...                       ...                     ...                 ...
1715434                 0.000                     0.0                 -31
1715484                 0.000                     0.0                -199
1715600                 0.000                     0.0                  -2
1715863                   NaN                     0.0                  -4
1716261                 0.000                     0.0               -2510

         AMT_ANNUITY
0                NaN
7                NaN
13               NaN
14               NaN
21               NaN
...              ...
1715434          NaN
1715484          0.0
1715600          NaN
1715863      17140.5
1716261          NaN

[305811 rows x 14 columns]

In [78]:
# Print categorical columns
print("\nSK_ID_CURR along with Categorical Columns:")
print(categorical_and_id)

SK_ID_CURR along with Categorical Columns:
        CREDIT_ACTIVE CREDIT_CURRENCY      CREDIT_TYPE  SK_ID_CURR
0              Closed      currency 1  Consumer credit      215354
7              Closed      currency 1  Consumer credit      162297
13             Active      currency 1  Consumer credit      402440
14             Closed      currency 1      Credit card      238881
21             Active      currency 1      Credit card      222183
...               ...             ...              ...         ...
1715434        Closed      currency 1  Consumer credit      207190
1715484        Closed      currency 1  Consumer credit      324956
1715600        Active      currency 1         Mortgage      448157
1715863        Closed      currency 1  Consumer credit      345866
1716261        Closed      currency 1  Consumer credit      235871

[305811 rows x 4 columns]

In [84]:
# Inspect numerical and categorical columns
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

SK_ID_BUREAU
5714462    1
6760385    1
6760377    1
6760369    1
6760366    1
          ..
5498823    1
5498815    1
5498809    1
5498756    1
5053356    1
Name: count, Length: 305811, dtype: int64
DAYS_CREDIT
-364    221
-245    217
-371    207
-224    207
-315    203
       ...
-4       10
-3        7
 0        5
-1        2
-2        1
Name: count, Length: 2923, dtype: int64
CREDIT_DAY_OVERDUE
0       304957
30         133
60          69
11          16
13          15
         ...
2254         1
105          1
2770         1
2679         1
2654         1
Name: count, Length: 317, dtype: int64
DAYS_CREDIT_ENDDATE
 NaN        8244
-7.0         188
-14.0        177
-22.0        174
-42.0        171
            ...
 10418.0       1
 4613.0        1
 4815.0        1
 10443.0       1
 6437.0        1
Name: count, Length: 10078, dtype: int64
DAYS_ENDDATE_FACT
 NaN       98124
-71.0        159
-322.0       158
-56.0        148
-84.0        146
           ...
-2900.0        1
-2877.0        1
-2833.0        1
-2913.0        1
-2903.0        1
Name: count, Length: 2895, dtype: int64
AMT_CREDIT_MAX_OVERDUE
NaN          237375
0.000         51919
45.000           91
7200.000         62
9000.000         60
              ...
17021.700         1
42300.000         1
5491.125          1
162.180           1
6754.950          1
Name: count, Length: 10432, dtype: int64
CNT_CREDIT_PROLONG
0    305082
1       603
2       103
3        16
4         4
5         2
6         1
Name: count, dtype: int64
AMT_CREDIT_SUM
0.00         14459
225000.00     9771
135000.00     9557
67500.00      5981
180000.00     5838
             ...
38513.43         1
63193.50         1
45970.74         1
37340.64         1
175054.50        1
Name: count, Length: 81275, dtype: int64
AMT_CREDIT_SUM_DEBT
0.00          216266
NaN            24835
4.50             102
90000.00          53
135000.00         49
               ...
622753.47          1
518566.50          1
550881.00          1
306535.50          1
1076809.50         1
Name: count, Length: 52257, dtype: int64
AMT_CREDIT_SUM_LIMIT
0.000         210901
NaN            86033
4500.000         307
135000.000       219
45000.000        167
               ...
1194.075           1
16563.420          1
23550.615          1
44265.870          1
32566.500          1
Name: count, Length: 6823, dtype: int64
AMT_CREDIT_SUM_OVERDUE
0.00        305022
4.50            56
9.00            19
45.00           18
22.50           16
             ...
117.00           1
66933.00         1
13.32            1
84.69            1
78223.50         1
Name: count, Length: 388, dtype: int64
DAYS_CREDIT_UPDATE
-7        2916
-8        2851
-11       2663
-14       2650
-15       2635
          ...
-2914        1
-41871       1
-2875        1
-2851        1
-2903        1
Name: count, Length: 2902, dtype: int64
AMT_ANNUITY
NaN            224722
0.000           43791
4500.000          846
13500.000         545
22500.000         448
                ...
4533097.500         1
41265.000           1
13118.085           1
21309.300           1
28975.500           1
Name: count, Length: 16622, dtype: int64

In [85]:
# Fill columns NaN with 0
numerical_and_id = numerical_and_id.fillna(0)
numerical_and_id

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,-497,0,-153.0,-153.0,0.0,0,91323.00,0.000,0.000,0.0,-131,0.0
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.000,0.000,0.0,-1710,0.0
13,402440,5714475,-96,0,269.0,0.0,0.0,0,89910.00,76905.000,0.000,0.0,-22,0.0
14,238881,5714482,-318,0,-187.0,-187.0,0.0,0,0.00,0.000,0.000,0.0,-185,0.0
21,222183,5714491,-784,0,1008.0,0.0,0.0,0,0.00,-411.615,411.615,0.0,-694,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715434,207190,5052629,-532,0,45.0,-227.0,0.0,0,450000.00,0.000,0.000,0.0,-31,0.0
1715484,324956,5054382,-381,0,-199.0,-199.0,0.0,0,19800.00,0.000,0.000,0.0,-199,0.0
1715600,448157,5043236,-1441,0,2197.0,0.0,0.0,0,1800000.00,1076809.500,0.000,0.0,-2,0.0
1715863,345866,5053303,-375,0,-41.0,-19.0,0.0,0,175054.50,0.000,0.000,0.0,-4,17140.5
1716261,235871,5053356,-2724,0,-2511.0,-2511.0,0.0,0,101250.00,0.000,0.000,0.0,-2510,0.0

In [86]:
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

CREDIT_ACTIVE
Closed      206990
Active       97967
Sold           850
Bad debt         4
Name: count, dtype: int64
CREDIT_CURRENCY
currency 1    305577
currency 2       218
currency 3        14
currency 4         2
Name: count, dtype: int64
CREDIT_TYPE
Consumer credit                           225062
Credit card                                70386
Car loan                                    4662
Mortgage                                    4468
Microloan                                    695
Another type of loan                         236
Loan for business development                226
Loan for working capital replenishment        38
Unknown type of loan                          29
Real estate loan                               5
Cash loan (non-earmarked)                      2
Loan for the purchase of equipment             2
Name: count, dtype: int64

In [87]:
# merge the numercial and categorical data after inspecting the missing values
bureau_merge_data = pd.merge(numerical_and_id,categorical_and_id,on="SK_ID_CURR")

In [89]:
# export the csv file of Cleaned table
bureau_merge_data = bureau_merge_data.to_csv('Bureau.csv', index = False)

### Load Bureau Balance Data

In [91]:
# Get bureau balance data
bureau_bal_data = data_frames['bureau_balance']
bureau_bal_data

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [92]:
# drop duplicate SK_ID_BUREAU
bureau_bal_data = bureau_bal_data.drop_duplicates(subset=['SK_ID_BUREAU'])

In [93]:
# Separate SK_ID_CURR along with numerical columns
numerical_and_id = bureau_bal_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_BUREAU'] = bureau_bal_data['SK_ID_BUREAU']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = bureau_bal_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_BUREAU'] = bureau_bal_data['SK_ID_BUREAU']

# Print or use the separated data
print("SK_ID_CURR along with Numerical Columns:")
print(numerical_and_id)
print("\nSK_ID_CURR along with Categorical Columns:")
print(categorical_and_id)

SK_ID_CURR along with Numerical Columns:
          SK_ID_BUREAU  MONTHS_BALANCE
0              5715448               0
27             5715449               0
39             5715451              -5
65             5715452               0
98             5715453               0
...                ...             ...
27299691       5041141               0
27299716       5041143             -14
27299799       5041172               0
27299877       5041332               0
27299901       5041336             -28

[817395 rows x 2 columns]

SK_ID_CURR along with Categorical Columns:
         STATUS  SK_ID_BUREAU
0             C       5715448
27            C       5715449
39            C       5715451
65            C       5715452
98            C       5715453
...         ...           ...
27299691      C       5041141
27299716      C       5041143
27299799      C       5041172
27299877      X       5041332
27299901      X       5041336

[817395 rows x 2 columns]

In [94]:
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_BUREAU':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

MONTHS_BALANCE
 0     610965
-1      16820
-3       5401
-2       5387
-4       5163
        ...
-92       381
-93       358
-94       341
-95       299
-96       285
Name: count, Length: 97, dtype: int64

In [96]:
# just to make sure there is any NaN value perform fillna with 0, and check the value counts
numerical_and_id = numerical_and_id.fillna(0)

In [97]:
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_BUREAU':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

MONTHS_BALANCE
 0     610965
-1      16820
-3       5401
-2       5387
-4       5163
        ...
-92       381
-93       358
-94       341
-95       299
-96       285
Name: count, Length: 97, dtype: int64

#### after performing value counts the count of 0 does not change which confirms that there is no missing data. We will keep the original data set as is.

In [98]:
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_BUREAU':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

STATUS
C    449603
X    203003
0    157328
1      5768
5      1258
2       286
3        86
4        63
Name: count, dtype: int64

In [99]:
# Since bureau_balance data does not contain any NaN values, so after droppping duplicates based on SK_ID_BUREAU.
# Exporting the file
bureau_data_file = bureau_bal_data.to_csv('bureau_balance.csv', index = False)

### Loading Previous Application Data

In [100]:
# Access previous application data
previous_application_data = data_frames['previous_application']
previous_application_data

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [101]:
# Drop duplicate SK_ID_CURR to get unqiue values
previous_application_data = previous_application_data.drop_duplicates(subset='SK_ID_CURR')

In [102]:
# Separate SK_ID_CURR along with numerical columns
numerical_and_id = previous_application_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_CURR'] = previous_application_data['SK_ID_CURR']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = previous_application_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_CURR'] = previous_application_data['SK_ID_CURR']

In [103]:
# Print numerical data
print("SK_ID_CURR along with Numerical Columns:")
print(numerical_and_id)

SK_ID_CURR along with Numerical Columns:
         SK_ID_PREV  SK_ID_CURR  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  \
0           2030495      271877     1730.430          17145.0     17145.0
1           2802425      108129    25188.615         607500.0    679671.0
2           2523466      122040    15060.735         112500.0    136444.5
3           2819243      176158    47041.335         450000.0    470790.0
4           1784265      202054    31924.395         337500.0    404055.0
...             ...         ...          ...              ...         ...
1669619     2319569      239799     4716.495          46800.0     46800.0
1669655     2210917      174832    30439.305         243000.0    289732.5
1669726     2253728      253940    26084.700         135000.0    135000.0
1669862     2829648      353284    10301.940         101745.0    112491.0
1670060     1944034      191629          NaN              0.0         0.0

         AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  HOUR_APPR_PROCESS_START  \
0                     0.0          17145.0                       15
1                     NaN         607500.0                       11
2                     NaN         112500.0                       11
3                     NaN         450000.0                        7
4                     NaN         337500.0                        9
...                   ...              ...                      ...
1669619               0.0          46800.0                        9
1669655               NaN         243000.0                       15
1669726               0.0         135000.0                       17
1669862               0.0         101745.0                       12
1670060               NaN              NaN                       10

         NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  ...  \
0                             1                0.0  ...
1                             1                NaN  ...
2                             1                NaN  ...
3                             1                NaN  ...
4                             1                NaN  ...
...                         ...                ...  ...
1669619                       1                0.0  ...
1669655                       1                NaN  ...
1669726                       1                0.0  ...
1669862                       1                0.0  ...
1670060                       1                NaN  ...

         RATE_INTEREST_PRIVILEGED  DAYS_DECISION  SELLERPLACE_AREA  \
0                        0.867336            -73                35
1                             NaN           -164                -1
2                             NaN           -301                -1
3                             NaN           -512                -1
4                             NaN           -781                -1
...                           ...            ...               ...
1669619                       NaN           -160                50
1669655                       NaN          -1002                -1
1669726                       NaN          -2785                 0
1669862                       NaN           -560               140
1670060                       NaN           -148                -1

         CNT_PAYMENT  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  \
0               12.0            365243.0           -42.0
1               36.0            365243.0          -134.0
2               12.0            365243.0          -271.0
3               12.0            365243.0          -482.0
4               24.0                 NaN             NaN
...              ...                 ...             ...
1669619         12.0            365243.0          -119.0
1669655         12.0            365243.0          -972.0
1669726          6.0            365243.0         -2755.0
1669862         12.0            365243.0          -529.0
1670060          NaN                 NaN             NaN

         DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  \
0                            300.0          -42.0             -37.0
1                            916.0       365243.0          365243.0
2                             59.0       365243.0          365243.0
3                           -152.0         -182.0            -177.0
4                              NaN            NaN               NaN
...                            ...            ...               ...
1669619                      211.0       365243.0          365243.0
1669655                     -642.0         -642.0            -636.0
1669726                    -2605.0        -2605.0           -2598.0
1669862                     -199.0         -199.0            -194.0
1670060                        NaN            NaN               NaN

         NFLAG_INSURED_ON_APPROVAL
0                              0.0
1                              1.0
2                              1.0
3                              1.0
4                              NaN
...                            ...
1669619                        0.0
1669655                        1.0
1669726                        0.0
1669862                        0.0
1670060                        NaN

[338857 rows x 21 columns]

In [104]:
print("\nSK_ID_CURR along with Categorical Columns:")
print(categorical_and_id)

SK_ID_CURR along with Categorical Columns:
        NAME_CONTRACT_TYPE WEEKDAY_APPR_PROCESS_START  \
0           Consumer loans                   SATURDAY
1               Cash loans                   THURSDAY
2               Cash loans                    TUESDAY
3               Cash loans                     MONDAY
4               Cash loans                   THURSDAY
...                    ...                        ...
1669619     Consumer loans                     FRIDAY
1669655         Cash loans                     FRIDAY
1669726         Cash loans                    TUESDAY
1669862     Consumer loans                     FRIDAY
1670060         Cash loans                     SUNDAY

        FLAG_LAST_APPL_PER_CONTRACT NAME_CASH_LOAN_PURPOSE  \
0                                 Y                    XAP
1                                 Y                    XNA
2                                 Y                    XNA
3                                 Y                    XNA
4                                 Y                Repairs
...                             ...                    ...
1669619                           Y                    XAP
1669655                           Y                    XNA
1669726                           Y                    XNA
1669862                           Y                    XAP
1670060                           Y                    XNA

        NAME_CONTRACT_STATUS      NAME_PAYMENT_TYPE CODE_REJECT_REASON  \
0                   Approved  Cash through the bank                XAP
1                   Approved                    XNA                XAP
2                   Approved  Cash through the bank                XAP
3                   Approved  Cash through the bank                XAP
4                    Refused  Cash through the bank                 HC
...                      ...                    ...                ...
1669619             Approved  Cash through the bank                XAP
1669655             Approved                    XNA                XAP
1669726             Approved  Cash through the bank                XAP
1669862             Approved  Cash through the bank                XAP
1670060             Canceled                    XNA                XAP

         NAME_TYPE_SUITE NAME_CLIENT_TYPE     NAME_GOODS_CATEGORY  \
0                    NaN         Repeater                  Mobile
1          Unaccompanied         Repeater                     XNA
2        Spouse, partner         Repeater                     XNA
3                    NaN         Repeater                     XNA
4                    NaN         Repeater                     XNA
...                  ...              ...                     ...
1669619    Unaccompanied              New  Construction Materials
1669655          Other_B         Repeater                     XNA
1669726  Spouse, partner         Repeater                     XNA
1669862              NaN              New    Consumer Electronics
1670060              NaN         Repeater                     XNA

        NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE  \
0                  POS               XNA             Country-wide
1                 Cash            x-sell           Contact center
2                 Cash            x-sell  Credit and cash offices
3                 Cash            x-sell  Credit and cash offices
4                 Cash           walk-in  Credit and cash offices
...                ...               ...                      ...
1669619            POS               XNA         Regional / Local
1669655           Cash            x-sell  Credit and cash offices
1669726           Cash            x-sell  Credit and cash offices
1669862            POS               XNA         Regional / Local
1670060            XNA               XNA           Contact center

         NAME_SELLER_INDUSTRY NAME_YIELD_GROUP  \
0                Connectivity           middle
1                         XNA       low_action
2                         XNA             high
3                         XNA           middle
4                         XNA             high
...                       ...              ...
1669619          Construction           middle
1669655                   XNA           middle
1669726                   XNA             high
1669862  Consumer electronics       low_action
1670060                   XNA              XNA

                    PRODUCT_COMBINATION  SK_ID_CURR
0              POS mobile with interest      271877
1                      Cash X-Sell: low      108129
2                     Cash X-Sell: high      122040
3                   Cash X-Sell: middle      176158
4                     Cash Street: high      202054
...                                 ...         ...
1669619      POS industry with interest      239799
1669655             Cash X-Sell: middle      174832
1669726               Cash Street: high      253940
1669862  POS household without interest      353284
1670060                            Cash      191629

[338857 rows x 17 columns]

In [108]:
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

SK_ID_PREV
2030495    1
2048675    1
1036322    1
1259959    1
1593744    1
          ..
2244263    1
1005010    1
1641790    1
1873272    1
1944034    1
Name: count, Length: 338857, dtype: int64
AMT_ANNUITY
NaN          51095
2250.000      6723
9000.000      2381
6750.000      2365
11250.000     2266
             ...
10043.550        1
9453.825         1
6622.605         1
13649.130        1
10301.940        1
Name: count, Length: 159902, dtype: int64
AMT_APPLICATION
0.00         54965
45000.00      9205
225000.00     7191
135000.00     6738
450000.00     5984
             ...
40923.00         1
82363.50         1
84667.14         1
315135.00        1
182092.50        1
Name: count, Length: 51504, dtype: int64
AMT_CREDIT
0.0         44546
45000.0      7242
225000.0     3468
135000.0     3301
450000.0     3164
            ...
352269.0        1
225045.0        1
537669.0        1
243364.5        1
179275.5        1
Name: count, Length: 55379, dtype: int64
AMT_DOWN_PAYMENT
NaN          132297
0.000         97710
4500.000       5438
9000.000       3891
13500.000      2599
              ...
35320.500         1
4818.510          1
62263.935         1
11444.850         1
2513.835          1
Name: count, Length: 14657, dtype: int64
AMT_GOODS_PRICE
NaN           53950
45000.000      9207
225000.000     7188
135000.000     6737
450000.000     5983
              ...
59315.985         1
191961.000        1
124893.000        1
61948.620         1
182092.500        1
Name: count, Length: 51505, dtype: int64
HOUR_APPR_PROCESS_START
11    37893
12    37716
13    35475
10    34442
14    32645
15    29608
16    25563
9     23757
17    20612
18    14494
8     13822
7      8427
19     8371
6      5142
20     3687
5      3018
4      1803
21     1000
3       894
2       210
22      162
23       48
1        40
0        28
Name: count, dtype: int64
NFLAG_LAST_APPL_IN_DAY
1    338046
0       811
Name: count, dtype: int64
RATE_DOWN_PAYMENT
NaN         132297
0.000000     97710
0.108909     10061
0.217818      1919
0.326727       312
             ...
0.093459         1
0.209666         1
0.101014         1
0.292201         1
0.099999         1
Name: count, Length: 72870, dtype: int64
RATE_INTEREST_PRIMARY
NaN         336781
0.189136       454
0.142440       337
0.160716       316
0.193330       243
             ...
0.120962         1
0.635951         1
0.171512         1
0.170067         1
0.207469         1
Name: count, Length: 77, dtype: int64
RATE_INTEREST_PRIVILEGED
NaN         336781
0.835095       589
0.715645       403
0.637949       366
0.852537       302
0.867336       301
0.568710        45
0.513742        17
0.424419        16
0.832452        16
0.845137         5
0.644820         4
0.637421         3
0.725159         2
0.820825         1
0.373150         1
0.502114         1
0.780655         1
0.790698         1
0.484144         1
0.854651         1
Name: count, dtype: int64
DAYS_DECISION
-294     423
-238     412
-300     406
-329     404
-308     401
        ...
-2886     31
-2902     30
-2084     30
-1957     28
-2915     26
Name: count, Length: 2921, dtype: int64
SELLERPLACE_AREA
-1       108393
 50       10626
 30        9295
 20        9239
 100       8978
          ...
 884          1
 5087         1
 1004         1
 592          1
 1164         1
Name: count, Length: 1859, dtype: int64
CNT_PAYMENT
12.0    79319
NaN     51092
6.0     48782
10.0    38419
24.0    29438
0.0     26462
18.0    15766
36.0    11761
8.0      7454
4.0      7158
48.0     6398
60.0     6395
30.0     2724
14.0     2109
16.0     1436
42.0     1114
5.0       943
20.0      390
7.0       354
9.0       309
54.0      308
3.0       278
11.0      189
15.0      170
17.0       20
72.0       18
13.0       13
22.0        9
23.0        6
35.0        4
28.0        4
26.0        4
32.0        2
38.0        2
33.0        1
66.0        1
29.0        1
59.0        1
44.0        1
47.0        1
41.0        1
Name: count, dtype: int64
DAYS_FIRST_DRAWING
 365243.0    234873
 NaN          90797
-202.0           33
-223.0           33
-212.0           32
              ...
-1602.0           1
-1286.0           1
-1389.0           1
-1391.0           1
-2883.0           1
Name: count, Length: 2402, dtype: int64
DAYS_FIRST_DUE
 NaN         90797
 365243.0     8504
-292.0         234
-271.0         230
-324.0         230
             ...
-2875.0         17
-2884.0         17
-2891.0         12
-2.0             4
-2892.0          2
Name: count, Length: 2893, dtype: int64
DAYS_LAST_DUE_1ST_VERSION
 NaN         90797
 365243.0    19334
 6.0           262
 5.0           248
-2.0           248
             ...
 1663.0          1
 1540.0          1
 1486.0          1
 1645.0          1
 1797.0          1
Name: count, Length: 4514, dtype: int64
DAYS_LAST_DUE
 NaN         90797
 365243.0    53077
-7.0           201
-16.0          197
-153.0         196
             ...
-2829.0          1
-2850.0          1
-2848.0          1
-2809.0          1
-2866.0          1
Name: count, Length: 2836, dtype: int64
DAYS_TERMINATION
 NaN         90797
 365243.0    57409
-131.0         239
-38.0          232
-128.0         229
             ...
-2736.0          1
-2758.0          1
-2798.0          1
-2702.0          1
-2773.0          1
Name: count, Length: 2787, dtype: int64
NFLAG_INSURED_ON_APPROVAL
0.0    182077
NaN     90797
1.0     65983
Name: count, dtype: int64

In [109]:
# Fill NaN values in columns (except the target column) with zeros
numerical_and_id.fillna({col: 0 for col in numerical_and_id.columns if col != 'NFLAG_INSURED_ON_APPROVAL'}, inplace=True)

# Prepare features and target variable
X = numerical_and_id.drop(columns=['NFLAG_INSURED_ON_APPROVAL'])  # Features
y = numerical_and_id['NFLAG_INSURED_ON_APPROVAL']  # Target

In [114]:
# Assuming `numerical_and_id` is your DataFrame and it includes 'NFLAG_INSURED_ON_APPROVAL'
df = numerical_and_id  # Example DataFrame

# Separate features and target variable
features = df.drop(['NFLAG_INSURED_ON_APPROVAL', 'SK_ID_PREV'], axis=1)  # Assuming 'SK_ID_PREV' is the ID column
target = df['NFLAG_INSURED_ON_APPROVAL']

# Fill NaNs in features with zero
features_filled = features.fillna(0)

# Splitting the dataset into known and unknown 'NFLAG_INSURED_ON_APPROVAL' sets
known_mask = target.notna()
X_known = features_filled[known_mask]
y_known = target[known_mask]

# Split known data into training and testing to evaluate model performance
X_train, X_test, y_train, y_test = train_test_split(X_known, y_known, test_size=0.2, random_state=42)

# Training the Random Forest Classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predicting and evaluating on the test set
y_pred = clf.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

# Check if there are any rows with unknown 'NFLAG_INSURED_ON_APPROVAL'
X_unknown = features_filled.loc[~known_mask]
if X_unknown.shape[0] > 0:
    # Predict 'NFLAG_INSURED_ON_APPROVAL' for rows where it's missing
    predicted_nflag = clf.predict(X_unknown)

    # Filling in the missing 'NFLAG_INSURED_ON_APPROVAL' values in the original DataFrame
    df.loc[~known_mask, 'NFLAG_INSURED_ON_APPROVAL'] = predicted_nflag
else:
    print("No rows with unknown 'NFLAG_INSURED_ON_APPROVAL' found. No prediction necessary.")

Accuracy: 0.9376881307914773
No rows with unknown 'NFLAG_INSURED_ON_APPROVAL' found. No prediction necessary.

In [119]:
# Inspecting values after prediction of numerical values
# Loop through each categorical column
for column in df.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(df[column].value_counts(dropna=False))

SK_ID_PREV
2030495    1
2048675    1
1036322    1
1259959    1
1593744    1
          ..
2244263    1
1005010    1
1641790    1
1873272    1
1944034    1
Name: count, Length: 338857, dtype: int64
AMT_ANNUITY
0.000        51406
2250.000      6723
9000.000      2381
6750.000      2365
11250.000     2266
             ...
10043.550        1
9453.825         1
6622.605         1
13649.130        1
10301.940        1
Name: count, Length: 159901, dtype: int64
AMT_APPLICATION
0.00         54965
45000.00      9205
225000.00     7191
135000.00     6738
450000.00     5984
             ...
40923.00         1
82363.50         1
84667.14         1
315135.00        1
182092.50        1
Name: count, Length: 51504, dtype: int64
AMT_CREDIT
0.0         44546
45000.0      7242
225000.0     3468
135000.0     3301
450000.0     3164
            ...
352269.0        1
225045.0        1
537669.0        1
243364.5        1
179275.5        1
Name: count, Length: 55379, dtype: int64
AMT_DOWN_PAYMENT
0.000        230007
4500.000       5438
9000.000       3891
13500.000      2599
22500.000      2291
              ...
35320.500         1
4818.510          1
62263.935         1
11444.850         1
2513.835          1
Name: count, Length: 14656, dtype: int64
AMT_GOODS_PRICE
0.00         54964
45000.00      9207
225000.00     7188
135000.00     6737
450000.00     5983
             ...
40923.00         1
82363.50         1
84667.14         1
315135.00        1
182092.50        1
Name: count, Length: 51504, dtype: int64
HOUR_APPR_PROCESS_START
11    37893
12    37716
13    35475
10    34442
14    32645
15    29608
16    25563
9     23757
17    20612
18    14494
8     13822
7      8427
19     8371
6      5142
20     3687
5      3018
4      1803
21     1000
3       894
2       210
22      162
23       48
1        40
0        28
Name: count, dtype: int64
NFLAG_LAST_APPL_IN_DAY
1    338046
0       811
Name: count, dtype: int64
RATE_DOWN_PAYMENT
0.000000    230007
0.108909     10061
0.217818      1919
0.326727       312
0.544545       214
             ...
0.209666         1
0.101014         1
0.292201         1
0.099673         1
0.099999         1
Name: count, Length: 72869, dtype: int64
RATE_INTEREST_PRIMARY
0.000000    336781
0.189136       454
0.142440       337
0.160716       316
0.193330       243
             ...
0.120962         1
0.635951         1
0.171512         1
0.170067         1
0.207469         1
Name: count, Length: 77, dtype: int64
RATE_INTEREST_PRIVILEGED
0.000000    336781
0.835095       589
0.715645       403
0.637949       366
0.852537       302
0.867336       301
0.568710        45
0.513742        17
0.424419        16
0.832452        16
0.845137         5
0.644820         4
0.637421         3
0.725159         2
0.820825         1
0.373150         1
0.502114         1
0.780655         1
0.790698         1
0.484144         1
0.854651         1
Name: count, dtype: int64
DAYS_DECISION
-294     423
-238     412
-300     406
-329     404
-308     401
        ...
-2886     31
-2902     30
-2084     30
-1957     28
-2915     26
Name: count, Length: 2921, dtype: int64
SELLERPLACE_AREA
-1       108393
 50       10626
 30        9295
 20        9239
 100       8978
          ...
 884          1
 5087         1
 1004         1
 592          1
 1164         1
Name: count, Length: 1859, dtype: int64
CNT_PAYMENT
12.0    79319
0.0     77554
6.0     48782
10.0    38419
24.0    29438
18.0    15766
36.0    11761
8.0      7454
4.0      7158
48.0     6398
60.0     6395
30.0     2724
14.0     2109
16.0     1436
42.0     1114
5.0       943
20.0      390
7.0       354
9.0       309
54.0      308
3.0       278
11.0      189
15.0      170
17.0       20
72.0       18
13.0       13
22.0        9
23.0        6
26.0        4
28.0        4
35.0        4
32.0        2
38.0        2
47.0        1
44.0        1
33.0        1
59.0        1
29.0        1
66.0        1
41.0        1
Name: count, dtype: int64
DAYS_FIRST_DRAWING
 365243.0    234873
 0.0          90797
-202.0           33
-223.0           33
-212.0           32
              ...
-1602.0           1
-1286.0           1
-1389.0           1
-1391.0           1
-2883.0           1
Name: count, Length: 2402, dtype: int64
DAYS_FIRST_DUE
 0.0         90797
 365243.0     8504
-292.0         234
-271.0         230
-324.0         230
             ...
-2875.0         17
-2884.0         17
-2891.0         12
-2.0             4
-2892.0          2
Name: count, Length: 2893, dtype: int64
DAYS_LAST_DUE_1ST_VERSION
 0.0         91023
 365243.0    19334
 6.0           262
 5.0           248
-2.0           248
             ...
 1663.0          1
 1540.0          1
 1486.0          1
 1645.0          1
 1797.0          1
Name: count, Length: 4513, dtype: int64
DAYS_LAST_DUE
 0.0         90797
 365243.0    53077
-7.0           201
-16.0          197
-153.0         196
             ...
-2829.0          1
-2850.0          1
-2848.0          1
-2809.0          1
-2866.0          1
Name: count, Length: 2836, dtype: int64
DAYS_TERMINATION
 0.0         90797
 365243.0    57409
-131.0         239
-38.0          232
-128.0         229
             ...
-2736.0          1
-2758.0          1
-2798.0          1
-2702.0          1
-2773.0          1
Name: count, Length: 2787, dtype: int64
NFLAG_INSURED_ON_APPROVAL
0    272874
1     65983
Name: count, dtype: int64

In [120]:
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_CURR':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

NAME_CONTRACT_TYPE
Consumer loans     199628
Cash loans         105751
Revolving loans     33426
XNA                    52
Name: count, dtype: int64
WEEKDAY_APPR_PROCESS_START
SATURDAY     52386
WEDNESDAY    50109
TUESDAY      49797
FRIDAY       49717
THURSDAY     49219
MONDAY       49061
SUNDAY       38568
Name: count, dtype: int64
FLAG_LAST_APPL_PER_CONTRACT
Y    337851
N      1006
Name: count, dtype: int64

NAME_CASH_LOAN_PURPOSE
XAP                                 233106
XNA                                  94502
Repairs                               3758
Other                                 2493
Urgent needs                          1503
Buying a used car                      451
Everyday expenses                      404
Medicine                               386
Building a house or an annex           373
Education                              256
Journey                                211
Payments on other loans                205
Purchase of electronic equipment       199
Wedding / gift / holiday               176
Furniture                              157
Car repairs                            156
Buying a new car                       142
Buying a home                          134
Buying a holiday home / land            84
Business development                    66
Gasification / water supply             61
Buying a garage                         18
Hobby                                    8
Money for a third person                 6
Refusal to name the goal                 2
Name: count, dtype: int64
NAME_CONTRACT_STATUS
Approved        254272
Canceled         42159
Refused          37316
Unused offer      5110
Name: count, dtype: int64
NAME_PAYMENT_TYPE
Cash through the bank                        231420
XNA                                          105150
Non-cash from your account                     2040
Cashless from the account of the employer       247
Name: count, dtype: int64
CODE_REJECT_REASON
XAP       296428
HC         20089
LIMIT       8519
SCO         5565
CLIENT      5110
SCOFR       1850
XNA          698
VERIF        498
SYSTEM       100
Name: count, dtype: int64
NAME_TYPE_SUITE
NaN                161580
Unaccompanied       96879
Family              50081
Spouse, partner     15919
Children             7333
Other_B              4258
Other_A              2284
Group of people       523
Name: count, dtype: int64
NAME_CLIENT_TYPE
Repeater     185598
New          118824
Refreshed     34097
XNA             338
Name: count, dtype: int64
NAME_GOODS_CATEGORY
XNA                         140781
Mobile                       59173
Consumer Electronics         33034
Computers                    29256
Audio/Video                  26631
Furniture                    16116
Clothing and Accessories      7536
Construction Materials        7479
Photo / Cinema Equipment      6205
Auto Accessories              2103
Jewelry                       1812
Homewares                     1652
Medical Supplies              1555
Vehicles                      1090
Sport and Leisure              882
Gardening                      789
Medicine                       644
Other                          598
Tourism                        584
Office Appliances              563
Direct Sales                   160
Fitness                         98
Education                       48
Additional Service              31
Weapon                          20
Insurance                       16
Animals                          1
Name: count, dtype: int64
NAME_PORTFOLIO
POS      192591
Cash      68603
XNA       51092
Cards     26462
Cars        109
Name: count, dtype: int64
NAME_PRODUCT_TYPE
XNA        243792
x-sell      68402
walk-in     26663
Name: count, dtype: int64
CHANNEL_TYPE
Country-wide                  126445
Credit and cash offices       100302
Stone                          59471
Regional / Local               30788
Contact center                 10671
AP+ (Cash loan)                 9782
Channel of corporate sales      1283
Car dealer                       115
Name: count, dtype: int64
NAME_SELLER_INDUSTRY
XNA                     122434
Consumer electronics    103011
Connectivity             70678
Furniture                17198
Construction              8977
Clothing                  7584
Industry                  5961
Auto technology           1648
Jewelry                    843
MLM partners               361
Tourism                    162
Name: count, dtype: int64
NAME_YIELD_GROUP
middle        87167
high          79435
XNA           77554
low_normal    71278
low_action    23423
Name: count, dtype: int64
PRODUCT_COMBINATION
POS household with interest       70316
POS mobile with interest          57120
Cash                              37148
POS industry with interest        30140
POS household without interest    22553
Cash X-Sell: middle               21062
Card Street                       20069
Cash X-Sell: low                  17467
Card X-Sell                       13357
Cash Street: high                 10555
Cash X-Sell: high                  9082
POS mobile without interest        7368
POS other with interest            7274
Cash Street: middle                5751
Cash Street: low                   4686
POS industry without interest      3964
POS others without interest         893
NaN                                  52
Name: count, dtype: int64

In [ ]:
#  Even after using RandomforestClassifier predictor; no yes(1) values predicted which is evident from before and after value count.

In [121]:
# merge numerical and categorical data
merge_data_previous = pd.merge(categorical_and_id,df , on = ['SK_ID_CURR'])

In [122]:
# drop any duplicate values
merge_data_previous =merge_data.drop_duplicates(subset=['SK_ID_CURR'])

In [123]:
# Predicting categorical data 

# Identify columns with missing categorical values
categorical_columns_with_missing = merge_data_previous.select_dtypes(include='object').columns[merge_data_previous.select_dtypes(include='object').isnull().any()]

# Create a copy of the DataFrame
df_filled = merge_data_previous.copy()

# Iterate over each column with missing categorical values
for col in categorical_columns_with_missing:
    print(f"Filling missing values for {col}")

    # Create a mask for missing values
    missing_mask = df_filled[col].isnull()

    # Split the data into known and unknown samples
    known_samples = df_filled[~missing_mask]
    unknown_samples = df_filled[missing_mask]

    # Drop the target column from known samples
    X_known = known_samples.drop(columns=[col])
    y_known = known_samples[col]

    # Create a preprocessor for numerical and categorical columns
    numerical_features = X_known.select_dtypes(include=['int64', 'float64']).columns
    categorical_features = X_known.select_dtypes(include='object').columns

    numerical_transformer = SimpleImputer(strategy='mean')
    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_features),
            ('cat', categorical_transformer, categorical_features)
        ])

    # Create and fit the classifier
    clf = Pipeline(steps=[('preprocessor', preprocessor),
                           ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))])

    clf.fit(X_known, y_known)

    # Predict missing values for unknown samples
    X_unknown = unknown_samples.drop(columns=[col])
    y_unknown_predicted = clf.predict(X_unknown)

    # Fill missing values in the original DataFrame
    df_filled.loc[missing_mask, col] = y_unknown_predicted

    print(f"Filled {sum(missing_mask)} missing values for {col}")

    # Check if there are still NaN values after imputation
    nan_columns = df_filled.columns[df_filled.isnull().any()]
    if nan_columns.any():
        print(f"NaN values still present after imputation in columns: {nan_columns}")

# Ensure there are no missing values left
print("Number of missing values after filling:", df_filled.isnull().sum().sum())

Filling missing values for NAME_TYPE_SUITE
Filled 161580 missing values for NAME_TYPE_SUITE
NaN values still present after imputation in columns: Index(['PRODUCT_COMBINATION'], dtype='object')
Filling missing values for PRODUCT_COMBINATION
Filled 52 missing values for PRODUCT_COMBINATION
Number of missing values after filling: 0

In [124]:
# Out put cleaned table
previous_application_data_output =df_filled.to_csv('previous_application.csv', index=False)

### Loading Credit Card Balance data

In [142]:
# Access Credit card balance data
credit_card_balance_data = data_frames['credit_card_balance']
credit_card_balance_data

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [143]:
# drop duplicate SK_ID_PREV values
credit_card_balance_data = credit_card_balance_data.drop_duplicates(subset='SK_ID_PREV')

In [144]:
# Checking dataframe after dropping duplicates
print(credit_card_balance_data.shape)

(104307, 23)

In [145]:
# Separate SK_ID_CURR along with numerical columns
numerical_and_id = credit_card_balance_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_PREV'] = credit_card_balance_data['SK_ID_PREV']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = credit_card_balance_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_PREV'] = credit_card_balance_data['SK_ID_PREV']

In [146]:
# Print numerical data
print("SK_ID_CURR along with Numerical Columns:")
print(numerical_and_id)

SK_ID_CURR along with Numerical Columns:
         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  \
0           2562384      378907              -6       56.970
1           2582071      363914              -1    63975.555
2           1740877      371185              -7    31815.225
3           1389973      337855              -4   236572.110
4           1891521      126868              -1   453919.455
...             ...         ...             ...          ...
3787849     2339982      318916              -1        0.000
3788692     2720102      174455              -1        0.000
3802178     1897864      315041              -2        0.000
3817940     2481982      382749              -1        0.000
3823070     2191610      349216              -1        0.000

         AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  \
0                         135000                       0.0
1                          45000                    2250.0
2                         450000                       0.0
3                         225000                    2250.0
4                         450000                       0.0
...                          ...                       ...
3787849                    45000                       0.0
3788692                   225000                       NaN
3802178                   270000                       NaN
3817940                   270000                       NaN
3823070                    45000                       NaN

         AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  \
0                       877.5                         0.0
1                      2250.0                         0.0
2                         0.0                         0.0
3                      2250.0                         0.0
4                     11547.0                         0.0
...                       ...                         ...
3787849                   0.0                         0.0
3788692                   0.0                         NaN
3802178                   0.0                         NaN
3817940                   0.0                         NaN
3823070                   0.0                         NaN

         AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  ...  \
0                           877.5                 1700.325  ...
1                             0.0                 2250.000  ...
2                             0.0                 2250.000  ...
3                             0.0                11795.760  ...
4                         11547.0                22924.890  ...
...                           ...                      ...  ...
3787849                       0.0                    0.000  ...
3788692                       NaN                    0.000  ...
3802178                       NaN                    0.000  ...
3817940                       NaN                    0.000  ...
3823070                       NaN                    0.000  ...

         AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  \
0                           0.000          0.000                 0.000
1                       60175.080      64875.555             64875.555
2                       26926.425      31460.085             31460.085
3                      224949.285     233048.970            233048.970
4                      443044.395     453919.455            453919.455
...                           ...            ...                   ...
3787849                     0.000          0.000                 0.000
3788692                     0.000          0.000                 0.000
3802178                     0.000          0.000                 0.000
3817940                     0.000          0.000                 0.000
3823070                     0.000          0.000                 0.000

         CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  \
0                             0.0                     1
1                             1.0                     1
2                             0.0                     0
3                             1.0                     1
4                             0.0                     1
...                           ...                   ...
3787849                       0.0                     0
3788692                       NaN                     0
3802178                       NaN                     0
3817940                       NaN                     0
3823070                       NaN                     0

         CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_POS_CURRENT  \
0                               0.0                       1.0
1                               0.0                       0.0
2                               0.0                       0.0
3                               0.0                       0.0
4                               0.0                       1.0
...                             ...                       ...
3787849                         0.0                       0.0
3788692                         NaN                       NaN
3802178                         NaN                       NaN
3817940                         NaN                       NaN
3823070                         NaN                       NaN

         CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
0                             35.0       0           0
1                             69.0       0           0
2                             30.0       0           0
3                             10.0       0           0
4                            101.0       0           0
...                            ...     ...         ...
3787849                        0.0       0           0
3788692                        0.0       0           0
3802178                        0.0       0           0
3817940                        0.0       0           0
3823070                        0.0       0           0

[104307 rows x 22 columns]

In [147]:
# Print categorical data
print("SK_ID_CURR along with Categorical Columns:")
print(categorical_and_id)

SK_ID_CURR along with Categorical Columns:
        NAME_CONTRACT_STATUS  SK_ID_PREV
0                     Active     2562384
1                     Active     2582071
2                     Active     1740877
3                     Active     1389973
4                     Active     1891521
...                      ...         ...
3787849               Active     2339982
3788692               Active     2720102
3802178               Active     1897864
3817940               Active     2481982
3823070               Active     2191610

[104307 rows x 2 columns]

In [148]:
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_PREV
    if column == 'SK_ID_PREV':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

SK_ID_CURR
355767    4
187294    3
263421    3
120076    3
206455    3
         ..
212363    1
231532    1
241457    1
234481    1
382749    1
Name: count, Length: 103558, dtype: int64
MONTHS_BALANCE
-4     8208
-3     7989
-2     7844
-5     7394
-6     6858
       ...
-83     183
-71     167
-73     166
-74     149
-56     142
Name: count, Length: 96, dtype: int64
AMT_BALANCE
0.000         61192
67.500          151
130.500          50
46570.500        35
270.000          23
              ...
461086.110        1
92467.755         1
203496.975        1
164247.210        1
163102.500        1
Name: count, Length: 41843, dtype: int64
AMT_CREDIT_LIMIT_ACTUAL
0         13845
45000     13238
135000    11486
180000    10233
450000     8303
          ...
553500        1
477000        1
508500        1
661500        1
643500        1
Name: count, Length: 151, dtype: int64
AMT_DRAWINGS_ATM_CURRENT
0.0         55423
NaN         35689
4500.0        975
45000.0       923
9000.0        740
            ...
378000.0        1
139050.0        1
335250.0        1
803250.0        1
352800.0        1
Name: count, Length: 554, dtype: int64
AMT_DRAWINGS_CURRENT
0.000         81127
45000.000       720
4500.000        661
9000.000        478
22500.000       469
              ...
110702.700        1
131378.985        1
23898.465         1
8215.875          1
142686.000        1
Name: count, Length: 13479, dtype: int64
AMT_DRAWINGS_OTHER_CURRENT
0.0         68270
NaN         35689
23400.0        14
3343.5         11
93600.0         9
            ...
45450.0         1
156060.0        1
91350.0         1
4773.6          1
98280.0         1
Name: count, Length: 181, dtype: int64
AMT_DRAWINGS_POS_CURRENT
0.000         54443
NaN           35689
450.000          45
1350.000         43
900.000          41
              ...
45524.070         1
8734.275          1
40079.565         1
147931.290        1
39186.000         1
Name: count, Length: 12616, dtype: int64
AMT_INST_MIN_REGULARITY
0.000        59241
2250.000      4913
NaN           4136
9000.000      2432
6750.000      1670
             ...
4563.225         1
6447.825         1
2532.420         1
31416.390        1
1736.370         1
Name: count, Length: 23527, dtype: int64
AMT_PAYMENT_CURRENT
NaN           37986
0.000          8401
9000.000       4050
4500.000       2617
13500.000      2211
              ...
3137.535          1
1170.720          1
529.515           1
946.080           1
288450.000        1
Name: count, Length: 20930, dtype: int64
AMT_PAYMENT_TOTAL_CURRENT
0.000         57823
9000.000       3699
4500.000       2351
6750.000       1980
13500.000      1932
              ...
1144.755          1
22603.995         1
2484.585          1
11585.790         1
127984.500        1
Name: count, Length: 17587, dtype: int64
AMT_RECEIVABLE_PRINCIPAL
0.000         63798
45000.000       253
135000.000      173
90000.000       160
180000.000      116
              ...
41875.155         1
122035.995        1
133208.865        1
137714.310        1
142686.000        1
Name: count, Length: 38134, dtype: int64
AMT_RECIVABLE
0.000         61348
45000.000        76
67.500           42
90000.000        30
225.000          27
              ...
63442.620         1
22086.090         1
140573.025        1
117868.455        1
142686.000        1
Name: count, Length: 41784, dtype: int64
AMT_TOTAL_RECEIVABLE
0.000         61347
45000.000        76
67.500           42
90000.000        30
225.000          27
              ...
138948.615        1
63442.620         1
22086.090         1
140573.025        1
142686.000        1
Name: count, Length: 41785, dtype: int64
CNT_DRAWINGS_ATM_CURRENT
0.0     55423
NaN     35689
1.0      6148
2.0      2864
3.0      1605
4.0       854
5.0       558
6.0       370
7.0       241
8.0       144
9.0       112
10.0       85
11.0       56
12.0       36
13.0       30
14.0       23
15.0       16
16.0       12
17.0        9
18.0        9
19.0        8
21.0        3
20.0        2
31.0        2
22.0        2
33.0        1
29.0        1
28.0        1
23.0        1
26.0        1
35.0        1
Name: count, dtype: int64
CNT_DRAWINGS_CURRENT
0      81343
1       6416
2       3791
3       2493
4       1701
       ...
124        1
82         1
108        1
80         1
109        1
Name: count, Length: 97, dtype: int64
CNT_DRAWINGS_OTHER_CURRENT
0.0    68265
NaN    35689
1.0      298
2.0       37
3.0       14
6.0        2
5.0        1
4.0        1
Name: count, dtype: int64
CNT_DRAWINGS_POS_CURRENT
0.0      54443
NaN      35689
1.0       3004
2.0       2008
3.0       1430
         ...
89.0         1
90.0         1
76.0         1
70.0         1
109.0        1
Name: count, Length: 98, dtype: int64
CNT_INSTALMENT_MATURE_CUM
0.0      37772
NaN       4136
1.0       4084
2.0       3911
3.0       3823
         ...
105.0        3
107.0        2
116.0        1
111.0        1
110.0        1
Name: count, Length: 114, dtype: int64
SK_DPD
0      102358
1         990
8         100
7          97
18         43
        ...
171         1
140         1
87          1
189         1
80          1
Name: count, Length: 270, dtype: int64
SK_DPD_DEF
0       103247
1          899
7           61
8           46
5           15
18           7
31           3
6            3
63           2
701          2
99           2
32           2
151          1
138          1
79           1
57           1
68           1
1674         1
1187         1
141          1
189          1
1401         1
1217         1
12           1
610          1
122          1
62           1
1007         1
1158         1
120          1
Name: count, dtype: int64

In [149]:
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_PREV
    if column == 'SK_ID_PREV':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

NAME_CONTRACT_STATUS
Active           99391
Completed         4485
Signed             412
Demand              11
Sent proposal        8
Name: count, dtype: int64

In [150]:
# Since our categorical data does not contain NaN values we can directly fillna(0)
credit_card_balance_data = credit_card_balance_data.fillna(0)
credit_card_balance_data

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787849,2339982,318916,-1,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0
3788692,2720102,174455,-1,0.000,225000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0
3802178,1897864,315041,-2,0.000,270000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0
3817940,2481982,382749,-1,0.000,270000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0
3823070,2191610,349216,-1,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0

In [151]:
# output Credit_card_balance 
credit_card_balance_data_output = credit_card_balance_data.to_csv('credit_card_balance.csv', index = False)

### Load POS CASH Balance data

In [152]:
# Get POS_CASH_Balance data
POS_CASH_balance_data = data_frames['POS_CASH_balance']
POS_CASH_balance_data

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
...,...,...,...,...,...,...,...,...
10001353,2448283,226558,-20,6.0,0.0,Active,843,0
10001354,1717234,141565,-19,12.0,0.0,Active,602,0
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0
10001357,1259607,174278,-52,16.0,0.0,Completed,0,0

In [153]:
# We will go by dropping duplicate values
POS_CASH_balance_data = POS_CASH_balance_data.drop_duplicates(subset='SK_ID_PREV')

In [156]:
# Inspect data after dropping duplicates
# Separate SK_ID_PREV along with numerical columns
numerical_and_id = POS_CASH_balance_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_PREV'] = POS_CASH_balance_data['SK_ID_PREV']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = POS_CASH_balance_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_PREV'] = POS_CASH_balance_data['SK_ID_PREV']

In [157]:
# Print or use the separated data
print("SK_ID_PREV along with Numerical Columns:")
print(numerical_and_id)

SK_ID_CURR along with Numerical Columns:
         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  \
0           1803195      182943             -31            48.0
1           1715348      367990             -33            36.0
2           1784872      397406             -32            12.0
3           1903291      269225             -35            48.0
4           2341044      334279             -35            36.0
...             ...         ...             ...             ...
9996589     2672095      388093              -2            36.0
9996600     2617335      172821              -2            36.0
9996602     2452932      112263              -2            12.0
9996603     1980876      448766              -1            24.0
9999763     2308284      290058             -41             4.0

         CNT_INSTALMENT_FUTURE  SK_DPD  SK_DPD_DEF
0                         45.0       0           0
1                         35.0       0           0
2                          9.0       0           0
3                         42.0       0           0
4                         35.0       0           0
...                        ...     ...         ...
9996589                   36.0       0           0
9996600                   36.0       0           0
9996602                   12.0       0           0
9996603                   24.0       0           0
9999763                    0.0       0           0

[936325 rows x 7 columns]

In [158]:
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_PREV
    if column == 'SK_ID_PREV':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

SK_ID_CURR
309133    26
152214    24
197583    23
272099    23
328085    22
          ..
427031     1
212717     1
327038     1
440558     1
144536     1
Name: count, Length: 337252, dtype: int64
MONTHS_BALANCE
-12    24244
-11    23687
-3     23071
-2     22598
-10    22245
       ...
-90     3789
-86     3326
-91     3293
-84     3070
-85     2615
Name: count, Length: 96, dtype: int64
CNT_INSTALMENT
12.0    234918
6.0     152970
10.0    123746
24.0     91793
18.0     51798
         ...
56.0         2
92.0         1
57.0         1
84.0         1
52.0         1
Name: count, Length: 62, dtype: int64
CNT_INSTALMENT_FUTURE
0.0     124712
6.0      62373
4.0      61840
5.0      59713
3.0      59525
         ...
64.0         3
70.0         3
67.0         2
85.0         1
80.0         1
Name: count, Length: 74, dtype: int64
SK_DPD
0       921689
1         1594
2         1244
3         1085
4          832
         ...
437          1
501          1
983          1
943          1
3257         1
Name: count, Length: 674, dtype: int64
SK_DPD_DEF
0       928340
1         1626
2          996
3          836
4          615
         ...
173          1
76           1
56           1
130          1
1259         1
Name: count, Length: 115, dtype: int64

In [159]:
# Print or use the separated data
print("SK_ID_PREV along with Categorical Columns:")
print(categorical_and_id)

SK_ID_PREV along with Categorical Columns:
        NAME_CONTRACT_STATUS  SK_ID_PREV
0                     Active     1803195
1                     Active     1715348
2                     Active     1784872
3                     Active     1903291
4                     Active     2341044
...                      ...         ...
9996589               Active     2672095
9996600               Active     2617335
9996602               Active     2452932
9996603               Active     1980876
9999763            Completed     2308284

[936325 rows x 2 columns]

In [160]:
# Loop through each categorical column
for column in categorical_and_id.columns:
    # Skip SK_ID_CURR
    if column == 'SK_ID_PREV':
        continue
    # Print value counts for the current column
    print(categorical_and_id[column].value_counts(dropna=False))

NAME_CONTRACT_STATUS
Active                   832489
Completed                 92492
Signed                     9915
Returned to the store       886
Approved                    476
Demand                       61
Canceled                      4
Amortized debt                2
Name: count, dtype: int64

In [161]:
# since categorical data in POS_CASH_balance_data does not have NaN, even numerical values are very few NaN values, 
#  so we fill main table with fillna(0)
POS_CASH_balance_data = POS_CASH_balance_data.fillna(0)

In [162]:
# Output POS CASH Balance data to csv
POS_CASH_balance_data_output = POS_CASH_balance_data.to_csv('pos_cash_balance.csv',index = False)

### Load Installments_payments data

In [163]:
# access installmets_payments data
installments_payments_data = data_frames['installments_payments']
installments_payments_data

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
...,...,...,...,...,...,...,...,...
13605396,2186857,428057,0.0,66,-1624.0,NaN,67.500,NaN
13605397,1310347,414406,0.0,47,-1539.0,NaN,67.500,NaN
13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN
13605399,1062206,409297,0.0,43,-1986.0,NaN,67.500,NaN
13605400,2448869,434321,1.0,19,-27.0,NaN,11504.250,NaN

In [164]:
# Drop duplicate SK_ID_PREV values from dataset
installments_payments_data = installments_payments_data.drop_duplicates(subset='SK_ID_PREV')

In [165]:
# Dataset shape after dropping duplicate values based on SK_ID_PREV
print(installments_payments_data.shape)

(997752, 8)

In [166]:
# Inspect data after dropping duplicates
# Separate SK_ID_PREV along with numerical columns
numerical_and_id = installments_payments_data.select_dtypes(include=['number']).copy()

# Include SK_ID_CURR in numerical set
numerical_and_id['SK_ID_PREV'] = installments_payments_data['SK_ID_PREV']

# Separate SK_ID_CURR along with categorical columns
categorical_and_id = installments_payments_data.select_dtypes(include=['object', 'category']).copy()

# Include SK_ID_CURR in categorical set
categorical_and_id['SK_ID_PREV'] = installments_payments_data['SK_ID_PREV']

In [167]:
# Print numerical separated data
print("SK_ID_PREV along with Numerical Columns:")
print(numerical_and_id)

SK_ID_PREV along with Numerical Columns:
          SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  \
0            1054186      161674                     1.0
1            1330831      151639                     0.0
2            2085231      193053                     2.0
3            2452527      199697                     1.0
4            2714724      167756                     1.0
...              ...         ...                     ...
13603461     2363009      430339                     2.0
13604077     1231783      448767                     2.0
13604314     1984920      416501                     1.0
13604544     1946334      415418                     2.0
13604682     1276288      448485                     2.0

          NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  \
0                             6          -1180.0             -1187.0
1                            34          -2156.0             -2156.0
2                             1            -63.0               -63.0
3                             3          -2418.0             -2426.0
4                             2          -1383.0             -1366.0
...                         ...              ...                 ...
13603461                      1           -300.0              -309.0
13604077                      1           -772.0              -792.0
13604314                      1            -19.0               -35.0
13604544                      1           -287.0              -303.0
13604682                      1           -827.0              -850.0

          AMT_INSTALMENT  AMT_PAYMENT
0               6948.360     6948.360
1               1716.525     1716.525
2              25425.000    25425.000
3              24350.130    24350.130
4               2165.040     2160.585
...                  ...          ...
13603461      156021.390   156021.390
13604077       41933.745    41933.745
13604314        9772.425     9772.425
13604544      314162.055   314162.055
13604682       22779.315    22779.315

[997752 rows x 8 columns]

In [168]:
# Print categorical dataset
print("SK_ID_PREV along with Numerical Columns:")
print(categorical_and_id)

SK_ID_PREV along with Numerical Columns:
          SK_ID_PREV
0            1054186
1            1330831
2            2085231
3            2452527
4            2714724
...              ...
13603461     2363009
13604077     1231783
13604314     1984920
13604544     1946334
13604682     1276288

[997752 rows x 1 columns]

In [ ]:
# There is no categorical columns in the table so we will proceed with numerical data only.

In [169]:
# Inspect numerical data for cleaning purpose
# Loop through each categorical column
for column in numerical_and_id.columns:
    # Skip SK_ID_PREV
    if column == 'SK_ID_PREV':
        continue
    # Print value counts for the current column
    print(numerical_and_id[column].value_counts(dropna=False))

SK_ID_CURR
309133    26
272099    24
152214    24
328085    23
197583    22
          ..
249113     1
283105     1
260298     1
228862     1
405063     1
Name: count, Length: 339587, dtype: int64
NUM_INSTALMENT_VERSION
1.0      800461
2.0       91945
0.0       72678
3.0       19136
4.0        5389
5.0        3355
6.0        1369
7.0        1052
8.0         517
9.0         501
10.0        270
11.0        232
12.0        172
13.0        161
14.0        103
15.0        100
17.0         59
16.0         46
20.0         32
18.0         29
19.0         27
21.0         25
22.0         23
23.0         14
24.0         11
25.0          8
27.0          7
30.0          5
26.0          4
29.0          4
31.0          2
28.0          2
34.0          2
33.0          1
39.0          1
61.0          1
72.0          1
38.0          1
37.0          1
52.0          1
178.0         1
40.0          1
35.0          1
32.0          1
Name: count, dtype: int64
NUM_INSTALMENT_NUMBER
1      149975
2      126168
3      114303
4      105018
5       88139
        ...
190         1
179         1
210         1
187         1
175         1
Name: count, Length: 196, dtype: int64
DAYS_INSTALMENT
-30.0      1173
-31.0      1162
-28.0      1161
-29.0      1118
-27.0      1093
           ...
-2696.0     123
-2713.0     122
-2727.0     121
-2712.0     119
-2.0         52
Name: count, Length: 2921, dtype: int64
DAYS_ENTRY_PAYMENT
-31.0      1218
-30.0      1213
-63.0      1209
-91.0      1192
-35.0      1149
           ...
-2979.0       1
-3071.0       1
-3002.0       1
-3011.0       1
-2997.0       1
Name: count, Length: 3013, dtype: int64
AMT_INSTALMENT
2250.000     4438
9000.000     2890
4500.000     2025
6750.000     2003
3375.000     1443
             ...
67045.725       1
17230.230       1
3042.360        1
30100.320       1
22779.315       1
Name: count, Length: 413435, dtype: int64
AMT_PAYMENT
2250.000     4413
9000.000     3027
4500.000     2147
6750.000     2051
3375.000     1366
             ...
19049.850       1
31859.235       1
54453.240       1
19836.090       1
22779.315       1
Name: count, Length: 419368, dtype: int64

In [170]:
# After dropping duplicate SK_ID_PREV, we have no NaN values in the data set
# So we can export the file
installments_payments_data = installments_payments_data.to_csv('installmets_payments.csv',index = False)